<div class="container-fluid">
  <div class="row margin-bottom-25">
    <div class="col-md-12">
      <h1 ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

      <div class="btn-group" uib-dropdown data-keyboard-nav data-is-open="bulkOpsIsOpen">
        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
          With selected <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
          <li>
            <a href="javascript:void(0)" ng-click="vm.updateMultiple({ status: 1 })">
              <i class="fa fa-check"></i> Set status to: Active
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" ng-click="vm.updateMultiple({ status: 0 })">
              <i class="fa fa-times"></i> Set status to: Blocked
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0)" ng-click="vm.deleteMultiple()">
              <i class="fa fa-trash"></i> Delete
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <a ui-sref="adminSupplierAdd" class="btn btn-default">
          <i class="fa fa-plus"></i> Add new supplier
        </a>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone 1</th>
            <th>Phone 2</th>
            <th>Status</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="_supplier in vm.suppliers">
            <td>
              <input type="checkbox" ng-model="vm.selectedSupplierIds[_supplier._id]">
            </td>
            <td ng-bind="_supplier.name"></td>
            <td ng-bind="_supplier.email"></td>
            <td ng-bind="_supplier.phoneNumber1"></td>
            <td ng-bind="_supplier.phoneNumber2"></td>
            <td ng-bind="_supplier.status ? 'Active' : 'Blocked'"></td>
            <td>
              <a ui-sref="adminSupplierEdit({ supplierId: _supplier._id })" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-danger" ng-click="vm.deleteSupplier(_supplier._id)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
