<div class="container">
  <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
      <!--<h1>Login</h1>-->
      <!--<p>-->
        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus error expedita minima, quibusdam-->
        <!--saepe temporibus. Aspernatur assumenda commodi ea et molestiae natus nostrum odit praesentium provident quam-->
        <!--rerum, totam.-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->

    <!--</div>-->
  <!--</div>-->

  <div class="margin-bottom-50"></div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-offset-0">
      <div class="jumbotron">
        <h2 class="margin-bottom-25">Login</h2>

        <div class="row">
          <div class="col-md-12">
            <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

              <div class="form-group">
                <label for="formUsername">Username</label>
                <input type="text"
                       id="formUsername"
                       name="text"
                       class="form-control"
                       placeholder="Username"
                       ng-model="vm.user.email"
                       ng-required="true">
              </div>

              <div class="form-group">
                <label for="formPassword">Password</label>
                <input type="password"
                       id="formPassword"
                       name="password"
                       class="form-control"
                       placeholder="Password"
                       ng-model="vm.user.password"
                       ng-required="true">
              </div>

              <div class="form-group has-error">
                <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
                  Please enter your email and password.
                </p>
                <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                  Please enter a valid email.
                </p>

                <p class="help-block">{{ vm.errors.login }}</p>
              </div>

              <div class="margin-bottom-30"></div>

              <div>
                <button class="btn btn-inverse btn-lg btn-success" type="submit" ng-disabled="form.$invalid">
                  Login
                </button>
                <button class="btn btn-link" type="button" ng-click="vm.reset()">
                  Clear
                </button>
              </div>

            </form>
          </div>
        </div>


      </div>
    </div>
  </div>

  <hr>
</div>
