<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <a ui-sref="adminMaterialAdd" class="btn btn-default">
          <i class="fa fa-plus"></i> Add new material
        </a>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Accounting ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Class 1</th>
            <th>Class 2</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="_item in vm.materials">
            <td>
              <input type="checkbox" ng-model="vm.selectedSupplierIds[_supplier._id]">
            </td>
            <td ng-bind="_item.materialId"></td>
            <td ng-bind="_item.accountingId"></td>
            <td ng-bind="_item.title"></td>
            <td ng-bind="_item.materialType" class="text-capitalize"></td>
            <td ng-bind="_item.materialClass1.title"></td>
            <td ng-bind="_item.materialClass2.title"></td>
            <td>
              <a ui-sref="adminMaterialEdit({ materialId: _item._id })" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-danger" ng-click="vm.deleteMaterial(_item._id)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
