<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <a ui-sref="adminPurchaseOrderAdd" class="btn btn-default">
          <i class="fa fa-plus"></i> Add new purchase order
        </a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Order No.</th>
            <th>Created</th>
            <th>Changed</th>
            <th>Leader</th>
            <th>Dispatcher</th>
            <th>Status</th>
            <th>Supplier</th>
            <th>Cancellation Reason</th>
            <th>Total Purchase</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="_item in vm.purchaseOrdersList">
            <td ng-bind="_item.orderNumber"></td>
            <td ng-bind="_item.created | date:'yyyy-MM-dd hh:mm a'"></td>
            <td ng-bind="_item.changed | date:'yyyy-MM-dd hh:mm a'"></td>
            <td ng-bind="_item.storageIdRef.currentLeader.name"></td>
            <td ng-bind="_item.storageIdRef.currentDispatcher.name"></td>
            <td ng-bind="_item.orderStatus"></td>
            <td ng-bind="_item.supplierIdRef.name"></td>
            <td ng-bind="_item.orderCancellationReason.title"></td>
            <td ng-bind="_item.orderCostTotal"></td>
            <td>
              <a ui-sref="adminPurchaseOrderEdit({ purchaseOrderId: _item._id })" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-danger" ng-click="vm.deletePurchaseOrder(_item._id)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
