<div class="margin-bottom-30"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <p class="text-left">
        GoGas App. Version <span ng-bind="vm.APP_VERSION"></span>
        - Copyrights &copy; reserved for Green Flame Gas.

      </p>
    </div>

    <div class="col-sm-6">
      <p class="text-right">
        Designed and Developed by
        <a href="//tickmarked.com">TickMarked</a>.
      </p>
    </div>
  </div>
</div>
