<div class="container-fluid" ng-hide="true">
  <div class="row">
    <div class="col-md-12">
      <h1 ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <div class="row margin-bottom-20">
    <div class="col-md-12 text-right">
      <a ui-sref="adminSalesOrderAdd" class="btn btn-default">
        <i class="fa fa-plus"></i> Create Sales Order
      </a>
      <a ui-sref="adminPurchaseOrderAdd" class="btn btn-default">
        <i class="fa fa-plus"></i> Create Purchase Order
      </a>
    </div>
  </div>
</div>

<div id="orders-dashboard-wrap">

  <div id="orders-dashboard-panel">
    <div class="orders-dashboard-panel-pane"
         ng-repeat="lst in vm.dbOrdersFormatted"
         ng-class="{ 'draggable-lst-disabled': lst.storageDetails.isAvailable===false }">
      <div class="orders-actions-wrap clearfix">
        <!-- if unassigned order -->
        <div ng-hide="lst.storageId">
          Unassigned Orders
          <br><br><br>
        </div>
        <!-- if storage -->
        <div ng-show="lst.storageId">
          Storage: <span class="data" ng-bind="lst.storageDetails.title"></span>
          <br>
          Leader: <span class="data" ng-bind="lst.storageDetails.currentLeader.name"></span>
          <br>
          Plate No.: <span class="data" ng-bind="lst.storageDetails.plateNumber"></span>
        </div>

        <div class="btn-group margin-top-15 pull-right clearfix"
             uib-dropdown data-is-open="vm.usersOperationsButtonGroup[lst.label]"
             uib-tooltip="Actions">
          <button type="button" class="btn-group-label btn btn-default" uib-dropdown-toggle>
            <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li ng-hide="lst.storageId">
              <a ui-sref="adminSalesOrderAdd">Create Sales Order</a>
            </li>
            <li ng-hide="lst.storageId">
              <a ui-sref="adminPurchaseOrderAdd">Create Purchase Order</a>
            </li>
            <li role="menuitem" ng-show="lst.storageId && lst.storageDetails.isAvailable">
              <a ui-sref="adminSalesOrderAdd({ storageId: lst.storageId })">Create Sales Order</a>
            </li>
            <li role="menuitem" ng-show="lst.storageId && lst.storageDetails.isAvailable">
              <a ui-sref="adminPurchaseOrderAdd({ storageId: lst.storageId })">Create Purchase Order</a>
            </li>
            <li class="divider" ng-if="lst.storageDetails.isAvailable"></li>
            <li ng-if="lst.storageId">
              <a ui-sref="adminStorageEdit({ storageId: lst.storageId })">Edit Storage</a>
            </li>
            <li class="divider" ng-if="lst.storageDetails.isAvailable"></li>
            <li role="menuitem" ng-if="lst.storageId && !lst.storageDetails.isAvailable">
              <a href="javascript:void(0)" ng-click="vm.updateDbStorage(lst.storageId, { isAvailable: true })">Set Storage to Available</a>
            </li>
            <li role="menuitem" ng-if="lst.storageId && lst.storageDetails.isAvailable">
              <a href="javascript:void(0)" ng-click="vm.updateDbStorage(lst.storageId, { isAvailable: false })">Set Storage to Not Available</a>
            </li>
            <li role="menuitem" ng-if="lst.storageId">
              <a href="javascript:void(0)" ng-click="vm.updateDbStorage(lst.storageId, { status: false })">Set Storage to Blocked</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="orders-dashboard-panel-pane-inner">
        <ul dnd-list="lst.orders"
            data-dnd-allowed-types="['order']"
            data-dnd-disable-if="vm.serverCallIsRunning || lst.storageDetails.isAvailable===false">
          <li ng-hide="lst.orders.length">No orders available.</li>
          <li ng-repeat="order in lst.orders"
              class="cursor"
              ng-class="'sales-order-status-' + order.orderStatus.toLowerCase()"
              data-dnd-draggable="order"
              data-dnd-type="'order'"
              data-dnd-allowed-effect="move"
              data-dnd-moved="lst.orders.splice($index, 1); vm.draggableOrderMoved2(order, lst, $index);">
            <!-- salesOrder card -->
            <div class="row" ng-show="order.collectionName==='SO'">
              <div class="col-xs-10">
                Type: <span class="data" ng-bind="order.collectionName"></span>
                <br>
                Order No: <span class="data" ng-bind="order.orderNumber"></span>
                <br>
                Customer: <span class="date" ng-bind="order.customerIdRef.name"></span>
                <br>
                Address: <span class="date" ng-bind="order.customerIdRef.address.area.title"></span>,
                <span class="date" ng-bind="order.customerIdRef.address.block.title"></span>,
                <span class="date" ng-bind="order.customerIdRef.address.street"></span>
              </div>
              <div class="col-xs-1">
                <div class="margin-top-5"></div>
                <a ui-sref="adminSalesOrderEdit({ salesOrderId: order._id })" class="btn btn-sm btn-default" uib-tooltip="Edit">
                  <i class="fa fa-pencil"></i>
                </a>
                <button type="button"
                        class="btn btn-sm btn-warning"
                        ng-click="vm.setOrderToStartedOrCompleted(order, 'STARTED')"
                        ng-hide="order.orderStatus==='STARTED' || !lst.storageId"
                        uib-tooltip="Start Order">
                  <i class="fa fa-play"></i>
                </button>
                <button type="button"
                        class="btn btn-sm btn-success"
                        ng-click="vm.setOrderToStartedOrCompleted(order, 'COMPLETED')"
                        ng-hide="order.orderStatus==='COMPLETED' || !lst.storageId"
                        uib-tooltip="Complete Order">
                  <i class="fa fa-clock-o"></i>
                </button>
                <button type="button"
                        class="btn btn-sm btn-danger"
                        ng-click="vm.setOrderToCancelled(order)"
                        ng-hide="order.orderStatus==='CANCELLED'"
                        uib-tooltip="Cancel Order">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /salesOrder card -->
            <!-- purchaseOrder card -->
            <div class="row" ng-show="order.collectionName==='PO'">
              <div class="col-xs-10">
                Type: <span class="data" ng-bind="order.collectionName"></span>
                <br>
                Order No: <span class="data" ng-bind="order.orderNumber"></span>
                <br>
                Customer: <span class="date" ng-bind="order.supplierIdRef.name"></span>
                <br>
                Address: <span class="date" ng-bind="order.supplierIdRef.address.area.title"></span>,
                <span class="date" ng-bind="order.supplierIdRef.address.block.title"></span>,
                <span class="date" ng-bind="order.supplierIdRef.address.street"></span>
              </div>
              <div class="col-xs-1">
                <div class="margin-top-5"></div>
                <a ui-sref="adminPurchaseOrderEdit({ purchaseOrderId: order._id })" class="btn btn-sm btn-default" uib-tooltip="Edit">
                  <i class="fa fa-pencil"></i>
                </a>
                <button type="button"
                        class="btn btn-sm btn-warning"
                        ng-click="vm.setOrderToStartedOrCompleted(order, 'STARTED')"
                        ng-hide="order.orderStatus==='STARTED' || !lst.storageId"
                        uib-tooltip="Start Order">
                  <i class="fa fa-play"></i>
                </button>
                <button type="button"
                        class="btn btn-sm btn-success"
                        ng-click="vm.setOrderToStartedOrCompleted(order, 'COMPLETED')"
                        ng-hide="order.orderStatus==='COMPLETED' || !lst.storageId"
                        uib-tooltip="Complete Order">
                  <i class="fa fa-clock-o"></i>
                </button>
                <button type="button"
                        class="btn btn-sm btn-danger"
                        ng-click="vm.setOrderToCancelled(order)"
                        ng-hide="order.orderStatus==='CANCELLED'"
                        uib-tooltip="Cancel Order">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /purchaseOrder card -->

            <!--<div class="text-center margin-top-10">-->
              <!---->
            <!--</div>-->
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
