<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="margin-bottom-20" ng-bind="vm.pageTitle"></h1>
    </div>
  </div>


  <form name="vm.form">

    <!-- row 0.5 -->
    <div class="row margin-bottom-10" ng-show="vm.material._id">
      <div class="col-md-3">
        <div class="form-group">
          <label for="materialMaterialId">Material ID</label>
          <input type="text"
                 id="materialMaterialId"
                 class="form-control"
                 placeholder="Material ID"
                 ng-model="vm.material.materialId"
                 ng-disabled="true">
        </div>
      </div>
    </div>
    <!-- /row 0.5 -->

    <!-- row 1 -->
    <div class="row margin-bottom-15">
      <!-- accountingId -->
      <div class="col-md-6">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.materialAccountingId.$invalid }">
          <label for="materialAccountingId">Accounting ID</label>
          <input type="text"
                 id="materialAccountingId"
                 name="materialAccountingId"
                 class="form-control"
                 placeholder="Accounting ID"
                 ng-model="vm.material.accountingId"
                 ng-required="true"
                 ng-maxlength="25">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.materialAccountingId.$error"
               ng-show="vm.formSubmitted && vm.form.materialAccountingId.$invalid">
            <div class="message" ng-message="required">Accounting ID field is required.</div>
            <div class="message" ng-message="maxlength">Accounting ID must be 25 characters or less.</div>
          </div>
        </div>
      </div>
      <!-- /accountingId -->
      <!-- title -->
      <div class="col-md-6">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.materialTitle.$invalid }">
          <label for="materialTitle">Title</label>
          <input type="text"
                 id="materialTitle"
                 name="materialTitle"
                 class="form-control"
                 placeholder="Material Title"
                 ng-model="vm.material.title"
                 ng-required="true"
                 ng-maxlength="25">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.materialTitle.$error"
               ng-show="vm.formSubmitted && vm.form.materialTitle.$invalid">
            <div class="message" ng-message="required">Title field is required.</div>
            <div class="message" ng-message="maxlength">Title must be 25 characters or less.</div>
          </div>
        </div>
      </div>
      <!-- /title -->
    </div>
    <!-- /row 1 -->


    <!-- row 2 -->
    <div class="row margin-bottom-15">
      <!--<div class="col-md-6">-->
        <!--<div class="form-group">-->
          <!--<label for="materialMaterialNumberOld">Material Number</label>-->
          <!--<input type="text"-->
                 <!--id="materialMaterialNumberOld"-->
                 <!--class="form-control"-->
                 <!--placeholder="Material Number"-->
                 <!--ng-model="vm.material.materialNumber"-->
                 <!--ng-show="vm.material._id"-->
                 <!--ng-disabled="true">-->
          <!--<div class="input-group" ng-hide="vm.material._id">-->
            <!--<input type="text"-->
                   <!--id="materialMaterialNumberNew"-->
                   <!--class="form-control"-->
                   <!--placeholder="Material Number"-->
                   <!--ng-model="vm.material.materialNumber"-->
                   <!--ng-disabled="true">-->
            <!--<div class="input-group-addon cursor"-->
                 <!--ng-click="vm.generateMaterialNumber()"-->
                 <!--uib-tooltip="Generate New Material Number.">-->
              <!--Generate New Number-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div class="col-md-6">
        <div class="form-group">
          <label for="materialMaterialType">Type</label>
          <select class="form-control"
                  id="materialMaterialType"
                  ng-model="vm.material.materialType"
                  ng-required="false">
            <option disabled selected value>- Select Type -</option>
            <option value="gas">Gas</option>
            <option value="cylinder">Cylinder</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="materialMaterialClass1">Class 1</label>
          <select class="form-control"
                  id="materialMaterialClass1"
                  ng-model="vm.material.materialClass1._id">
            <option disabled selected value>- Select Class 1 -</option>
            <option ng-repeat="_class in vm.materialClasses" value="{{_class._id}}" ng-bind="_class.title"></option>
          </select>
        </div>
      </div>
    </div>
    <!-- /row 2 -->


    <!-- row 3 -->
    <div class="row margin-bottom-15">
      <div class="col-md-6">
        <div class="form-group">
          <label for="materialMaterialClass2">Class 2</label>
          <select class="form-control"
                  id="materialMaterialClass2"
                  ng-model="vm.material.materialClass2._id">
            <option disabled selected value>- Select Class 2 -</option>
            <option ng-repeat="_class in vm.materialClasses" value="{{_class._id}}" ng-bind="_class.title"></option>
          </select>
          <span ng-click="vm.material.materialClass2=null">Clear</span>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group">
          <label for="materialImageUrl">Material Image</label>
          <input type="file"
                 id="materialImageUrl"
                 name="materialImageUrl"
                 ng-model="vm.uploadedFileObject"
                 ng-hide="vm.uploadedFileObject.filename"
                 base-sixty-four-input
                 do-not-parse-if-oversize
                 maxsize="500"
                 accept="image/*">
          <br>
          <span ng-bind="vm.fileUploadStatusMessage"></span>
          <a target="_blank"
             ng-href="{{vm.AWS_S3_REMOTE_BASE_URL + vm.material.imageUrl}}"
             ng-bind="vm.material.imageUrl"
             uib-tooltip="Click to view the image"></a>
          <button type="button"
                  class="btn btn-sm btn-primary"
                  ng-click="vm.uploadFile()"
                  ng-show="vm.uploadedFileObject.filename && !vm.hideFileUploadButton"
                  ng-disabled="vm.serverCallInProgress"
                  uib-tooltip="Upload file">
            <i class="fa fa-upload"></i>
          </button>
          <button type="button"
                  class="btn btn-sm btn-danger"
                  ng-click="vm.deleteFile(vm.material.imageUrl)"
                  ng-show="vm.uploadedFileObject.filename"
                  ng-disabled="vm.serverCallInProgress"
                  uib-tooltip="Cancel upload">
            <i class="fa fa-undo"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- /row 3 -->


    <div class="row margin-bottom-15">
      <div class="col-md-12">
        <div class="form-actions">
          <a href="javascript:void(0)"
             class="btn btn-success"
             ng-click="vm.save(false)"
             ng-disabled="vm.serverCallInProgress">Save</a>
          <a href="javascript:void(0)"
             class="btn btn-success"
             ng-click="vm.save(true)"
             ng-disabled="vm.serverCallInProgress"
             ng-hide="vm.material._id">Save and add another</a>
          <a href="javascript:void(0)" class="btn btn-link" ng-click="vm.formClear()" ng-hide="vm.material._id">Clear</a>
          <a ui-sref="adminMaterialList" class="btn btn-link">Cancel</a>
        </div>
      </div>
    </div>
  </form>

</div>
