$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~angular-toastr/dist/angular-toastr.min.css';
@import '~angular-loading-bar/build/loading-bar.min.css';
@import '~angular-xeditable/dist/css/xeditable.min.css';
@import '~chosen-js/chosen.css';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.cursor {
  cursor: pointer;
}

input.google-map-search-box {
  display: inline-block;
  height: 35px;
  width: 35%;
  min-width: 250px;
  margin: 10px;
  padding: 2px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  font-size: 14px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);

  &:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
}

input[type='number'].hide-number-arrows {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

label.label-required {
  position: relative;

  &:after {
    color: #d00;
    position: absolute;
    margin-left: 3px;
    top: 3px;
    font-family: 'FontAwesome', sans-serif;
    font-weight: normal;
    font-size: 8px;
    content: "\f069";
  }
}

.ng-messages-wrap {

  .message {
    margin: 4px 0;
    color: #a94442;
  }
}

.modal-sm .modal-dialog {
  width: 600px;
}
.modal-lg .modal-dialog {
  width: 860px;
}

.editable-click {
  cursor: pointer;
  border-bottom: none;
  color: inherit;
  text-decoration: underline;


  &:hover {
  }
}

$margins: 0, 5, 10, 15, 20, 25, 30, 32, 33, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105;
$margin-borders: '', '-top', '-right', '-bottom', '-left';
@each $m in $margins {
  @each $b in $margin-borders {
    .margin#{$b}-#{$m} {
      margin#{$b}: #{$m}px;
    }

    .padding#{$b}-#{$m} {
      padding#{$b}: #{$m}px;
    }
  }
}

.angular-google-map-container {
  height: 500px;

  .google-map-label-style-1 {
    padding: 5px 20px;
    border: solid 1px #000;
    border-radius: 4px;
    background-color: #fff;
  }
}

#orders-dashboard-wrap {

  overflow-y: scroll;

  .btn-group-label {
    display: block;
  }

  #orders-dashboard-panel {
    display: flex;
    justify-content: flex-start;

    .orders-actions-wrap {
      padding: 20px 10px 10px 10px;
      background-color: #eee;
      border-bottom: solid 1px #9B9B9B;
    }

    .orders-dashboard-panel-pane {
      border: solid 1px #9B9B9B;
      border-right: none;

      &:first-child {
        border-right: solid 1px #9B9B9B;
        margin-right: 75px;

        //ul[dnd-list] {
        //  li {
        //    background-color: #9B9B9B;
        //    border: 1px solid #000;
        //  }
        //}
      }
      &:last-child {
        border-right: solid 1px #9B9B9B;
      }

      &.draggable-lst-disabled {
        background: repeating-linear-gradient(
            135deg,
            #b7b7b7,
            #b7b7b7 10px,
            #ddd 20px,
            #ddd 25px
        );
      }

      .orders-dashboard-panel-pane-inner {
        height: 650px;
        overflow-y: scroll;
      }
    }

    ul[dnd-list] {
      height: 100%;
      min-height: 50px;
      padding-left: 0;
      margin: 0 10px;
      //border: solid 1px #9B9B9B;
      //border-top: none;
      //border-bottom: none;

      .dndDraggingSource {
        display: none;
      }

      .dndPlaceholder {
        background-color: #ddd;
        display: block;
        min-height: 42px;
      }

      li {
        display: block;
        padding: 10px 15px;
        margin: 10px;
        min-width: 214px;
        background-color: #5bc0de;
        border: 1px solid #46b8da;
        border-radius: 4px;
        color: #fff;

        &.selected {
          background-color: #dff0d8;
          color: #3c763d;
        }

        &.sales-order-status-open {
          background-color: #9B9B9B;
          border: 1px solid #000;
        }
        &.sales-order-status-assigned {
          background-color: #5bc0de !important;
          border-color: #46b8da;
        }
        &.sales-order-status-started {
          background-color: #F3A536 !important;
          border-color: #eea236;
          color: #fff !important;
        }
        &.sales-order-status-completed {
          background-color: #6DC15E !important;
          border-color: #4cae4c;
        }
        &.sales-order-status-cancelled {
          background-color: #CE0B24 !important;
          border-color: #ac2925;
        }
      }
    }
  }
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */
