<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">GoGas</a>
    </div>
    <div uib-collapse="vm.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav" ng-show="vm.isLoggedIn()">
        <li ng-repeat="item in vm.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li uib-dropdown>
          <a uib-dropdown-toggle>Master Data</a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="item in vm.masterDataMenu">
              <a ui-sref="{{item.state}}({{item.stateParams}})" ng-bind="item.title" ui-sref-active="active"></a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="vm.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="vm.isLoggedIn()"><p class="navbar-text">Hello {{ vm.getCurrentUser().name }}</p> </li>
        <!--<li ng-show="vm.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>-->
        <li ng-show="vm.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
