<header class="hero-unit" id="banner">
  <div class="container-fluid">
    <h1>Welcome to GoGas!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem consequatur cupiditate delectus, deserunt eaque eligendi facilis fugiat ipsa magni molestias nulla officia quos, reprehenderit sed, suscipit veniam voluptas voluptate.</p>
  </div>
</header>
