<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="margin-bottom-20" ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <form name="vm.form" novalidate>

    <div class="panel panel-default">
      <div class="panel-heading">Customer Information</div>
      <div class="panel-body">
        <!-- row 0.5 -->
        <div class="row margin-bottom-10" ng-show="vm.customer._id">
          <div class="col-md-3">
            <div class="form-group">
              <label for="materialMaterialId">Customer ID</label>
              <input type="text"
                     id="materialMaterialId"
                     class="form-control"
                     placeholder="Material ID"
                     ng-model="vm.customer.customerId"
                     ng-disabled="true">
            </div>
          </div>
        </div>
        <!-- /row 0.5 -->

        <!-- row 0 -->
        <div class="row margin-bottom-15">
          <div class="col-md-12">
            <h4 class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.customer.status">
                Status:
                <span ng-show="vm.customer.status">Active</span>
                <span ng-hide="vm.customer.status">Blocked</span>
              </label>
            </h4>
            <label for="customerBlockingReason" ng-hide="vm.customer.status">Blocking Reason</label>
            <textarea rows="3"
                      id="customerBlockingReason"
                      class="form-control margin-bottom-25"
                      placeholder="Blocking reason"
                      ng-model="vm.customer.blockingReason"
                      ng-hide="vm.customer.status"></textarea>
          </div>
        </div>
        <!-- /row 0 -->

        <!-- row 1 -->
        <div class="row margin-bottom-15">
          <!-- accountingId -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="customerAccountingId">Accounting ID</label>
              <input type="text"
                     id="customerAccountingId"
                     class="form-control"
                     placeholder="Accounting ID"
                     ng-model="vm.customer.accountingId"
                     ng-required="false">
            </div>
          </div>
          <!-- /accountingId -->
          <!-- name -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.customerName.$invalid }">
              <label for="customerName" class="label-required">Name</label>
              <input type="text"
                     id="customerName"
                     name="customerName"
                     class="form-control"
                     placeholder="Name"
                     ng-model="vm.customer.name"
                     ng-required="true"
                     ng-maxlength="25">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.customerName.$error"
                   ng-show="vm.formSubmitted && vm.form.customerName.$invalid">
                <div class="message" ng-message="required">Customer name is required.</div>
                <div class="message" ng-message="maxlength">Customer name must be 25 characters or less.</div>
              </div>
            </div>
          </div>
          <!-- /name -->
        </div>
        <!-- /row 1 -->

        <!-- row 2 -->
        <div class="row margin-bottom-15">
          <!-- ownerName -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="customerOwnerName">Owner Name</label>
              <input type="text"
                     id="customerOwnerName"
                     class="form-control"
                     placeholder="Owner Name"
                     ng-model="vm.customer.ownerName"
                     ng-required="false">
            </div>
          </div>
          <!-- /ownerName -->
          <!-- email -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.customerEmail.$invalid }">
              <label for="customerEmail">Email</label>
              <input type="email"
                     id="customerEmail"
                     name="customerEmail"
                     class="form-control"
                     placeholder="Email"
                     ng-model="vm.customer.email"
                     ng-required="false">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.customerEmail.$error"
                   ng-show="vm.formSubmitted && vm.form.customerEmail.$invalid">
                <div class="message" ng-message="email">Invalid email address.</div>
              </div>
            </div>
          </div>
          <!-- /email -->
        </div>
        <!-- /row 2 -->

        <!-- row 3 -->
        <div class="row margin-bottom-15">
          <!-- phoneNumber1 -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.customerPhoneNumber1.$invalid }">
              <label for="customerPhoneNumber1">Phone 1</label>
              <input type="number"
                     id="customerPhoneNumber1"
                     name="customerPhoneNumber1"
                     class="form-control hide-number-arrows"
                     placeholder="Phone 1"
                     ng-model="vm.customer.phoneNumber1"
                     ng-minlength="5"
                     ng-maxlength="15">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.customerPhoneNumber1.$error"
                   ng-show="vm.formSubmitted && vm.form.customerPhoneNumber1.$invalid">
                <div class="message" ng-message="number">Invalid phone number.</div>
                <div class="message" ng-message="minlength">Phone Number must 5 numbers at least.</div>
                <div class="message" ng-message="maxlength">Phone Number must be 15 numbers or less.</div>
              </div>
            </div>
          </div>
          <!-- phoneNumber1 -->

          <!-- phoneNumber2 -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.customerPhoneNumber2.$invalid }">
              <label for="customerPhoneNumber2">Phone 2</label>
              <input type="text"
                     id="customerPhoneNumber2"
                     name="customerPhoneNumber2"
                     class="form-control"
                     placeholder="Phone 2"
                     ng-model="vm.customer.phoneNumber2"
                     ng-minlength="5"
                     ng-maxlength="15">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.phoneNumber2.$error"
                   ng-show="vm.formSubmitted && vm.form.phoneNumber2.$invalid">
                <div class="message" ng-message="number">Invalid phone number.</div>
                <div class="message" ng-message="minlength">Phone Number must 5 numbers at least.</div>
                <div class="message" ng-message="maxlength">Phone Number must be 15 numbers or less.</div>
              </div>
            </div>
          </div>
          <!-- phoneNumber2 -->
        </div>
        <!-- /row 3 -->

        <!-- row 4 -->
        <div class="row margin-bottom-15">
          <!-- customerType -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.customerCustomerType.$invalid }">
              <label for="customerCustomerType" class="label-required">Customer Type</label>
              <select class="form-control"
                      id="customerCustomerType"
                      name="customerCustomerType"
                      ng-model="vm.customer.customerType._id"
                      ng-required="true">
                <option disabled selected value ng-if="!vm.customer.customerType">- Select Customer Type -</option>
                <option ng-repeat="_item in vm.dbCustomerTypes" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.customerCustomerType.$error"
                   ng-show="vm.formSubmitted && vm.form.customerCustomerType.$invalid">
                <div class="message" ng-message="required">Customer type field is required.</div>
              </div>
            </div>
          </div>
          <!-- /customerType -->
          <!-- customerGroup -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="customerCustomerGroup">Customer Group</label>
              <select class="form-control" id="customerCustomerGroup" ng-model="vm.customer.customerGroup">
                <option disabled selected value ng-if="!vm.customer.customerGroup">- Select Customer Group -</option>
                <option ng-repeat="_item in vm.dbCustomerGroups" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /customerGroup -->
        </div>
        <!-- /row 4 -->

        <!-- row 5 -->
        <div class="row margin-bottom-0">

        </div>
        <!-- /row 5 -->
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Address</div>
      <div class="panel-body">
        <!-- row 1 -->
        <div class="row margin-bottom-15">
          <!-- address.governorate -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="customerAddressGovernorate">Governorate</label>
              <select class="form-control"
                      id="customerAddressGovernorate"
                      ng-model="vm.customer.address.governorate._id"
                      ng-change="vm.updateAddressAreas(vm.customer.address.governorate._id)"
                      ng-required="false">
                <option disabled selected value>- Select a Governorate -</option>
                <option ng-repeat="_item in vm.addressGovernorates" value="{{_item._id}}"
                        ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /address.governorate -->

          <!-- address.area -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="customerAddressArea">Area</label>
              <select class="form-control"
                      id="customerAddressArea"
                      ng-model="vm.customer.address.area._id"
                      ng-change="vm.updateAddressBlocks(vm.customer.address.area._id)"
                      ng-required="false"
                      ng-disabled="!vm.customer.address.governorate">
                <option disabled selected value>- Select an Area -</option>
                <option ng-repeat="_item in vm.addressAreas" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /address.area -->
        </div>
        <!-- /row 1 -->

        <!-- row 2 -->
        <div class="row margin-bottom-15">
          <!-- address.block -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="customerAddressBlock">Block</label>
              <select class="form-control"
                      id="customerAddressBlock"
                      ng-model="vm.customer.address.block._id"
                      ng-required="false"
                      ng-disabled="!vm.customer.address.area._id">
                <option disabled selected value>- Select a Block -</option>
                <option ng-repeat="_item in vm.addressBlocks" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /address.block -->

          <!-- address.street -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="customerAddressStreet">Street / Jaddah</label>
              <input type="text"
                     id="customerAddressStreet"
                     class="form-control"
                     placeholder="Street / Jaddah"
                     ng-model="vm.customer.address.street">
            </div>
          </div>
          <!-- /address.street -->
        </div>
        <!-- /row 2 -->

        <!-- row 3 -->
        <div class="row margin-bottom-15">
          <!-- address.building -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="customerAddressBuilding">Building / House</label>
              <input type="text"
                     id="customerAddressBuilding"
                     class="form-control"
                     placeholder="Building / House"
                     ng-model="vm.customer.address.building">
            </div>
          </div>
          <!-- /address.building -->

          <!-- address.paciNo -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.customerAddresspaciNo.$invalid }">
              <label for="customerAddresspaciNo">PACI Number</label>
              <input type="number"
                     id="customerAddresspaciNo"
                     name="customerAddresspaciNo"
                     class="form-control"
                     placeholder="PACI Number"
                     ng-model="vm.customer.address.paciNo"
                     ng-minlength="8"
                     ng-maxlength="8">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.customerAddresspaciNo.$error"
                   ng-show="vm.formSubmitted && vm.form.customerAddresspaciNo.$invalid">
                <div class="message" ng-message="number">Invalid PACI number.</div>
                <div class="message" ng-message="minlength">PACI number must consist of 8 digits.</div>
                <div class="message" ng-message="maxlength">PACI number must consist of 8 digits.</div>
              </div>
            </div>
          </div>
          <!-- /address.paciNo -->
        </div>
        <!-- /row 3 -->

        <!-- row 4 -->
        <div class="row margin-bottom-15">
          <div class="col-md-12">
            <div class="form-group">
              <label for="customerAddressNotes">Address Notes</label>
              <textarea class="form-control"
                        id="customerAddressNotes"
                        rows="2"
                        placeholder="Address Notes"
                        ng-model="vm.customer.address.notes"></textarea>
            </div>
          </div>
        </div>
        <!-- /row 4 -->

        <!-- row 5 -->
        <div class="row">
          <div class="col-md-2">
            <!-- latitude on map -->
            <div class="form-group">
              <label for="mapNonEditableLat">Latitude on Map</label>
              <input type="text"
                     class="form-control"
                     id="mapNonEditableLat"
                     name="mapNonEditableLat"
                     ng-model="vm.mapSelectedLatLng.latitude"
                     ng-disabled="true">
            </div>
            <!-- longitude on map -->
            <div class="form-group">
              <label for="mapNonEditableLng">Longitude on Map</label>
              <input type="text"
                     class="form-control"
                     id="mapNonEditableLng"
                     name="mapNonEditableLng"
                     ng-model="vm.mapSelectedLatLng.longitude"
                     ng-disabled="true">
            </div>
            <hr>
            <!-- chosen latitude -->
            <div class="form-group">
              <label for="customerCurrentLat">Chosen Latitude</label>
              <input type="text"
                     class="form-control"
                     id="customerCurrentLat"
                     name="customerCurrentLat"
                     ng-model="vm.customer.address.googleMap.latitude"
                     ng-disabled="true">
            </div>
            <!-- chosen longitude -->
            <div class="form-group">
              <label for="customerCurrentLat">Chosen Longitude</label>
              <input type="text"
                     class="form-control"
                     id="customerCurrentLng"
                     name="customerCurrentLng"
                     ng-model="vm.customer.address.googleMap.longitude"
                     ng-disabled="true">
            </div>
            <hr>
            <!-- actions -->
            <button class="btn btn-sm btn-primary" ng-click="vm.googleMapCapture()">Capture Coordinates</button>
            <button class="btn btn-sm btn-link" ng-click="vm.googleMapClear()">Clear</button>
          </div>
          <div class="col-md-10">
            <ui-gmap-google-map center="vm.mapSelectedLatLng" zoom="8" options="vm.mapOptions">
              <ui-gmap-marker coords="vm.mapMarker.coords"
                              options="vm.mapMarker.options"
                              events="vm.mapMarker.events"
                              idkey="vm.mapMarker.id">
              </ui-gmap-marker>
              <ui-gmap-search-box template="vm.mapSearchBox.template"
                                  events="vm.mapSearchBox.events"
                                  options="vm.mapSearchBox.options"
                                  position="vm.mapSearchBox.position"></ui-gmap-search-box>
            </ui-gmap-google-map>
          </div>
        </div>
        <!-- /row 5 -->
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="row">
          <div class="col-sm-8">Contact Information</div>
        </div>
      </div>
      <div class="panel-body">
        <p ng-hide="vm.customer.contactInfo.length">
          No contacts added yet,
          <a href="javascript:void(0)" ng-click="vm.addContactInfo()">Click here to add one.</a>
        </p>
        <!-- row 1 -->
        <div class="row margin-bottom-15" ng-repeat="_item in vm.customer.contactInfo">
          <!-- contactInfo.name -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="customerContactInfoName-{{$index}}">Name</label>
              <input type="text"
                     data-ng-attr-id="customerContactInfoName-{{$index}}"
                     class="form-control"
                     placeholder="Name"
                     ng-model="_item.name">
            </div>
          </div>
          <!-- /contactInfo.name -->
          <!-- pricingInfo.designation -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="customerContactInfoDesignation-{{$index}}">Designation</label>
              <select class="form-control"
                      data-ng-attr-id="customerContactInfoDesignation-{{$index}}"
                      ng-model="_item.designation._id">
                <option selected disabled value ng-if="!_item.designation">- Select a Designation -</option>
                <option ng-repeat="_m in vm.dbDesignations" value="{{_m._id}}" ng-bind="_m.title"></option>
              </select>
            </div>
          </div>
          <!-- /pricingInfo.designation -->
          <!-- contactInfo.email -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="customerContactInfoEmail-{{$index}}">Email</label>
              <input type="email"
                     data-ng-attr-id="customerContactInfoEmail-{{$index}}"
                     class="form-control"
                     placeholder="Email"
                     ng-model="_item.email">
            </div>
          </div>
          <!-- /contactInfo.email -->
          <!-- contactInfo.phoneNumber1 -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="customerContactInfophoneNumber1-{{$index}}">Phone 1</label>
              <input type="text"
                     data-ng-attr-id="customerContactInfophoneNumber1-{{$index}}"
                     class="form-control"
                     placeholder="Phone 1"
                     ng-model="_item.phoneNumber1">
            </div>
          </div>
          <!-- /contactInfo.phoneNumber1 -->
          <!-- contactInfo.phoneNumber2 -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="customerContactInfophoneNumber2-{{$index}}">Phone 2</label>
              <input type="text"
                     data-ng-attr-id="customerContactInfophoneNumber2-{{$index}}"
                     class="form-control"
                     placeholder="Phone 2"
                     ng-model="_item.phoneNumber2">
            </div>
          </div>
          <!-- /contactInfo.phoneNumber2 -->
          <!-- operations -->
          <div class="col-md-2 text-right">
            <div class="margin-bottom-25"></div>
            <a href="javascript:void(0)"
               class="btn btn-danger"
               ng-click="vm.deleteContactInfo($index)"
               uib-tooltip="Delete this item">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <!-- /operations -->
        </div>
        <!-- /row 1 -->
      </div>
      <div class="panel-footer text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="vm.addContactInfo()"><i
          class="fa fa-plus"></i> Add Contact</a>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Pricing Information</div>
      <div class="panel-body">
        <p ng-hide="vm.customer.pricingInfo.length">
          No materials pricing added yet,
          <a href="javascript:void(0)" ng-click="vm.addMaterialInfo()">Click here to add one.</a>
        </p>
        <div class="row margin-bottom-15" ng-repeat="_item in vm.customer.pricingInfo">
          <!-- pricingInfo.material -->
          <div class="col-md-3">
            <div class="form-group">
              <label data-ng-attr-for="customerPricingInfoMaterial-{{$index}}">Material</label>
              <select class="form-control" data-ng-attr-id="customerPricingInfoMaterial-{{$index}}"
                      ng-model="_item.material._id">
                <option selected disabled value ng-if="!_item.material">- Select a Material -</option>
                <option ng-repeat="_m in vm.dbMaterials" value="{{_m._id}}" ng-bind="_m.title"></option>
              </select>
            </div>
          </div>
          <!-- /pricingInfo.material -->
          <!-- pricingInfo.price -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="customerPricingInfoPrice-{{$index}}">Price</label>
              <div class="input-group">
                <input type="text"
                       data-ng-attr-id="customerPricingInfoPrice-{{$index}}"
                       class="form-control"
                       placeholder="Price"
                       ng-model="_item.price"
                       ui-number-mask="3">
                <div class="input-group-addon">KWD</div>
              </div>
            </div>
          </div>
          <!-- /pricingInfo.price -->
          <!-- pricingInfo.validFrom -->
          <div class="col-md-2">
            <label data-ng-attr-for="customerPricingInfoValidFrom-{{$index}}">Valid From</label>
            <div class="input-group">
              <input type="text"
                     data-ng-attr-id="customerPricingInfoValidFrom-{{$index}}"
                     class="form-control"
                     placeholder="Valid from"
                     ng-model="_item.validFrom"
                     ng-focus="vm.pricingInfoDateValidFromOpened[$index]=true"
                     uib-datepicker-popup="dd/MM/yyyy"
                     data-is-open="vm.pricingInfoDateValidFromOpened[$index]"
                     data-datepicker-options="{}"
                     data-close-text="Close"/>
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="vm.pricingInfoDateValidFromOpened[$index]=true">
                  <i class="fa fa-calendar"></i>
                </button>
                </span>
            </div>
          </div>
          <!-- /pricingInfo.validFrom -->
          <!-- pricingInfo.validTo -->
          <div class="col-md-2">
            <label data-ng-attr-for="customerPricingInfoValidTo-{{$index}}">Valid To</label>
            <div class="input-group">
              <input type="text"
                     data-ng-attr-id="customerPricingInfoValidTo-{{$index}}"
                     class="form-control"
                     placeholder="Valid to"
                     ng-model="_item.validTo"
                     ng-focus="vm.pricingInfoDateValidToOpened[$index]=true"
                     uib-datepicker-popup="dd/MM/yyyy"
                     data-is-open="vm.pricingInfoDateValidToOpened[$index]"
                     data-datepicker-options="{}"
                     data-close-text="Close"/>
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="vm.pricingInfoDateValidToOpened[$index]=true">
                  <i class="fa fa-calendar"></i>
                </button>
                </span>
            </div>
          </div>
          <!-- /pricingInfo.validFrom -->
          <!-- operations -->
          <div class="col-md-3 text-right">
            <div class="margin-bottom-25"></div>
            <a href="javascript:void(0)"
               class="btn btn-danger"
               ng-click="vm.deleteMaterialInfo($index)"
               uib-tooltip="Delete this item">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <!-- /operations -->
        </div>
      </div>
      <div class="panel-footer text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="vm.addMaterialInfo()">
          <i class="fa fa-plus"></i> Add Material Info
        </a>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Blocked Materials</div>
      <div class="panel-body">
        <p ng-hide="vm.customer.blockedMaterials.length">
          No blocked materials added yet,
          <a href="javascript:void(0)" ng-click="vm.addBlockedMaterial()">Click here to add one.</a>
        </p>

        <div class="row margin-bottom-15" ng-repeat="_item in vm.customer.blockedMaterials">
          <!-- blockedMaterials.material -->
          <div class="col-md-3">
            <div class="form-group">
              <label data-ng-attr-for="customerBlockedMaterialsMaterial-{{$index}}">Material</label>
              <select class="form-control" data-ng-attr-id="customerBlockedMaterialsMaterial-{{$index}}"
                      ng-model="_item.material">
                <option selected disabled value ng-if="!_item.material">- Select a Material -</option>
                <option ng-repeat="_m in vm.dbMaterials" value="{{_m._id}}" ng-bind="_m.title"></option>
              </select>
            </div>
          </div>
          <!-- /blockedMaterials.material -->
          <!-- operations -->
          <div class="col-md-3 text-right">
            <div class="margin-bottom-25"></div>
            <a href="javascript:void(0)"
               class="btn btn-danger"
               ng-click="vm.deleteBlockedMaterial($index)"
               uib-tooltip="Delete this item">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <!-- /operations -->
        </div>
      </div>
      <div class="panel-footer text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="vm.addBlockedMaterial()"><i
          class="fa fa-plus"></i> Add Blocked Material</a>
      </div>
    </div>


    <div class="row form-actions">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success" ng-click="vm.save(false)">Save</button>
        <a href="javascript:void(0)" class="btn btn-success" ng-click="vm.save(true)" ng-hide="vm.customer._id">Save and add another</a>
        <a href="javascript:void(0)" class="btn btn-link" ng-click="vm.formClear()" ng-hide="vm.customer._id">Clear</a>
        <a ui-sref="adminCustomerList" class="btn btn-link">Cancel</a>
      </div>
    </div>

  </form>

</div>
