<div class="container-fluid">
  <div class="row margin-bottom-20">
    <div class="col-md-12">
      <h1 ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form name="vm.form">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="itemTitle">Title</label>
              <input type="text"
                     id="itemTitle"
                     class="form-control"
                     placeholder="Title"
                     ng-model="vm.item.title"
                     ng-required="true">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-actions">
              <a href="javascript:void(0)" class="btn btn-success" ng-click="vm.save(false)" ng-disabled="vm.form.$invalid">Save</a>
              <a href="javascript:void(0)" class="btn btn-success" ng-click="vm.save(true)" ng-disabled="vm.form.$invalid">Save and Add Another</a>
              <a href="javascript:void(0)" class="btn btn-link" ng-click="vm.historyBack()">Cancel</a>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
