<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="margin-bottom-20" ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <form name="vm.form" novalidate>
    <!-- row 0 -->
    <div class="row margin-bottom-15">
      <div class="col-md-12">
        <h4 class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.user.status">
            Status:
            <span ng-show="vm.user.status">Active</span>
            <span ng-hide="vm.user.status">Blocked</span>
          </label>
        </h4>
      </div>
    </div>
    <!-- /row 0 -->

    <!-- row 1 -->
    <div class="row margin-bottom-15">
      <!-- name -->
      <div class="col-md-6">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.userName.$invalid }">
          <label for="userName" class="label-required">Full Name</label>
          <input type="text"
                 id="userName"
                 name="userName"
                 class="form-control"
                 placeholder="Full Name"
                 ng-model="vm.user.name"
                 ng-required="true"
                 ng-maxlength="25">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userName.$error"
               ng-show="vm.formSubmitted && vm.form.userName.$invalid">
            <div class="message" ng-message="required">Full Name field is required.</div>
            <div class="message" ng-message="maxlength">Full Name must be 25 characters or less.</div>
          </div>
        </div>
      </div>
      <!-- /name -->
      <!-- username -->
      <div class="col-md-6">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.userUsername.$invalid }">
          <label for="userUsername" class="label-required">Username</label>
          <input type="text"
                 id="userUsername"
                 name="userUsername"
                 class="form-control"
                 placeholder="Username"
                 ng-model="vm.user.username"
                 ng-required="true"
                 ng-maxlength="25">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userUsername.$error"
               ng-show="vm.formSubmitted && vm.form.userUsername.$invalid">
            <div class="message" ng-message="required">Username field is required.</div>
            <div class="message" ng-message="maxlength">Username must be 25 characters or less.</div>
          </div>
        </div>
      </div>
      <!-- /username -->
    </div>
    <!-- /row 1 -->

    <!-- row 2 -->
    <div class="row margin-bottom-15">
      <!-- email -->
      <div class="col-md-6">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.userEmail.$invalid }">
          <label for="userEmail">Email Address</label>
          <input type="email"
                 id="userEmail"
                 name="userEmail"
                 class="form-control"
                 placeholder="Email Address"
                 ng-model="vm.user.email"
                 ng-required="false">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userEmail.$error"
               ng-show="vm.formSubmitted && vm.form.userEmail.$invalid">
            <div class="message" ng-message="email">Invalid email address.</div>
          </div>
        </div>
      </div>
      <!-- /email -->
      <!-- password -->
      <div class="col-md-3" ng-if="!vm.user._id">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.userPassword.$invalid }">
          <label for="userPassword" class="label-required">Password</label>
          <input type="password"
                 id="userPassword"
                 name="userPassword"
                 class="form-control"
                 placeholder="Password"
                 ng-model="vm.user.password"
                 ng-required="true"
                 ng-minlength="6"
                 ng-maxlength="30">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userPassword.$error"
               ng-show="vm.formSubmitted && vm.form.userPassword.$invalid">
            <div class="message" ng-message="required">Password field is required.</div>
            <div class="message" ng-message="minlength">Password must be at least 5 characters.</div>
            <div class="message" ng-message="maxlength">Password must be 30 characters or less.</div>
          </div>
        </div>
      </div>
      <!-- /password -->
      <!-- passwordConfirm -->
      <div class="col-md-3" ng-if="!vm.user._id">
        <div class="form-group"
             ng-class="{ 'has-error': vm.form.passwordConfirm.$invalid && vm.form.passwordConfirm.$dirty }">
          <label for="passwordConfirm" class="label-required">Confirm Password</label>
          <input type="password"
                 id="passwordConfirm"
                 name="passwordConfirm"
                 class="form-control"
                 placeholder="Confirm Password"
                 ng-model="vm.passwordConfirm"
                 ng-required="true"
                 ui-validate="'$value==vm.user.password'"
                 ui-validate-watch="'vm.user.password'">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.passwordConfirm.$error"
               ng-show="vm.form.passwordConfirm.$invalid && vm.form.passwordConfirm.$dirty">
            <div class="message" ng-message="validator">Password does not match.</div>
          </div>
        </div>
      </div>
      <!-- /passwordConfirm -->
    </div>
    <!-- /row 2 -->

    <!-- row 3 -->
    <div class="row margin-bottom-15">
      <!-- phoneNumber1 -->
      <div class="col-md-6">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.userPhone1.$invalid }">
          <label for="userPhone1">Phone 1</label>
          <input type="number"
                 id="userPhone1"
                 name="userPhone1"
                 class="form-control hide-number-arrows"
                 placeholder="Phone 1"
                 ng-model="vm.user.phoneNumber1"
                 ng-required="false"
                 ng-minlength="5"
                 ng-maxlength="15">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userPhone1.$error"
               ng-show="vm.formSubmitted && vm.form.userPhone1.$invalid">
            <div class="message" ng-message="number">Invalid Phone Number.</div>
            <div class="message" ng-message="minlength">Phone Number must 5 numbers at least.</div>
            <div class="message" ng-message="maxlength">Phone Number must be 15 numbers or less.</div>
          </div>
        </div>
      </div>
      <!-- /phoneNumber1 -->
      <!-- phoneNumber2 -->
      <div class="col-md-6">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.userPhone2.$invalid }">
          <label for="userPhone2">Phone 2</label>
          <input type="number"
                 id="userPhone2"
                 name="userPhone2"
                 class="form-control hide-number-arrows"
                 placeholder="Phone 2"
                 ng-model="vm.user.phoneNumber2"
                 ng-required="false"
                 ng-minlength="5"
                 ng-maxlength="15">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userPhone2.$error"
               ng-show="vm.formSubmitted && vm.form.userPhone2.$invalid">
            <div class="message" ng-message="number">Invalid Phone Number.</div>
            <div class="message" ng-message="minlength">Phone Number must 5 numbers at least.</div>
            <div class="message" ng-message="maxlength">Phone Number must be 15 numbers or less.</div>
          </div>
        </div>
      </div>
      <!-- /phoneNumber2 -->
    </div>
    <!-- /row 3 -->


    <!-- row 3.5 -->
    <div class="row margin-bottom-15">
      <!-- plateNumber -->
      <div class="col-md-6">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.userPlateNumber.$invalid }">
          <label for="userPlateNumber">Driving License Number</label>
          <input type="number"
                 id="userPlateNumber"
                 name="userPlateNumber"
                 class="form-control hide-number-arrows"
                 placeholder="Driving License Number"
                 ng-model="vm.user.plateNumber"
                 ng-required="false"
                 ng-minlength="5"
                 ng-maxlength="15">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userPlateNumber.$error"
               ng-show="vm.formSubmitted && vm.form.userPlateNumber.$invalid">
            <div class="message" ng-message="number">Invalid Driving License Number.</div>
            <div class="message" ng-message="minlength">Driving License Number must 5 numbers at least.</div>
            <div class="message" ng-message="maxlength">Driving License Number must be 15 numbers or less.</div>
          </div>
        </div>
      </div>
      <!-- /plateNumber -->
      <!-- plateExpiration -->
      <div class="col-md-6">
        <label for="userPlateExpiration">Driving License Expiration Date</label>
        <div class="input-group">
          <input type="text"
                 id="userPlateExpiration"
                 class="form-control"
                 placeholder="Driving License Expiration Date"
                 ng-model="vm.user.plateExpiration"
                 ng-focus="vm.datePlateExpPopupOpened=true"
                 uib-datepicker-popup="{{vm.dateFormat}}"
                 data-is-open="vm.datePlateExpPopupOpened"
                 data-datepicker-options="vm.datePopupOptions"
                 data-close-text="Close"/>
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="vm.datePlateExpPopupOpened=true">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
        </div>
      </div>
      <!-- /plateExpiration -->
    </div>
    <!-- /row 3.5 -->


    <!-- row 4 -->
    <div class="row margin-bottom-15">
      <!-- civilId -->
      <div class="col-md-6">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.userCivilId.$invalid }">
          <label for="userCivilId">Civil ID</label>
          <input type="number"
                 id="userCivilId"
                 name="userCivilId"
                 class="form-control hide-number-arrows"
                 placeholder="Civil ID"
                 ng-model="vm.user.civilId"
                 ng-required="false"
                 ng-minlength="5"
                 ng-maxlength="15">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userCivilId.$error"
               ng-show="vm.formSubmitted && vm.form.userCivilId.$invalid">
            <div class="message" ng-message="number">Invalid Civil ID.</div>
            <div class="message" ng-message="minlength">Civil ID must 5 numbers at least.</div>
            <div class="message" ng-message="maxlength">Civil ID must be 15 numbers or less.</div>
          </div>
        </div>
      </div>
      <!-- /civilId -->
      <!-- civilIdExpiration -->
      <div class="col-md-6">
        <label for="userCivilIdExpiration">Civil ID Expiration Date</label>
        <div class="input-group">
          <input type="text"
                 id="userCivilIdExpiration"
                 class="form-control"
                 placeholder="Civil ID Expiration Date"
                 ng-model="vm.user.civilIdExpiration"
                 ng-focus="vm.datePopupOpened=true"
                 uib-datepicker-popup="{{vm.dateFormat}}"
                 data-is-open="vm.datePopupOpened"
                 data-datepicker-options="vm.datePopupOptions"
                 data-close-text="Close"/>
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="vm.datePopupOpened=true">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
        </div>
      </div>
      <!-- /civilIdExpiration -->
    </div>
    <!-- /row 4 -->

    <!-- row 5 -->
    <div class="row margin-bottom-15">
      <!-- role -->
      <div class="col-md-6">
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.userRole.$invalid }">
          <label for="userRole" class="label-required">Role</label>
          <select class="form-control"
                  id="userRole"
                  name="userRole"
                  ng-model="vm.user.role"
                  ng-required="true">
            <option disabled selected value>- Select User Role -</option>
            <option ng-repeat="(_key, _val) in vm.availableUserRoles" value="{{_key}}" ng-bind="_val"></option>
          </select>
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userRole.$error"
               ng-show="vm.formSubmitted && vm.form.userRole.$invalid">
            <div class="message" ng-message="required">Role field is required.</div>
          </div>
        </div>
      </div>
      <!-- /role -->
      <!-- userType -->
      <div class="col-md-6"
           ng-show="vm.user.role==='user'"
           ng-class="{ 'has-error': vm.formSubmitted && vm.form.userUserType.$invalid }">
        <div class="form-group">
          <label for="userUserType" ng-class="{'label-required': vm.user.role==='user'}">User Type</label>
          <select class="form-control"
                  id="userUserType"
                  name="userUserType"
                  ng-model="vm.user.userType"
                  ng-required="vm.user.role==='user'">
            <option disabled selected value>- Select User Type -</option>
            <option value="leader">Leader</option>
            <option value="dispatcher">Dispatcher</option>
          </select>
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userUserType.$error"
               ng-show="vm.formSubmitted && vm.form.userUserType.$invalid">
            <div class="message" ng-message="required">User Type field is required.</div>
          </div>
        </div>
      </div>
      <!-- /userType -->
    </div>
    <!-- /row 5 -->



    <div class="row">
      <div class="col-md-12">
        <div class="form-actions">
          <a href="javascript:void(0)"
             class="btn btn-success"
             ng-click="vm.save(false)">Save</a>
          <a href="javascript:void(0)"
             class="btn btn-success"
             ng-click="vm.save(true)"
             ng-hide="vm.user._id">Save and Add Another</a>
          <a href="javascript:void(0)" class="btn btn-link" ng-click="vm.formClear()" ng-hide="vm.material._id">Clear</a>
          <a ui-sref="adminUserList" class="btn btn-link">Cancel</a>
        </div>
      </div>
    </div>
  </form>

</div>
