<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="margin-bottom-20" ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <form name="vm.form" novalidate>

    <div class="panel panel-default">
      <div class="panel-heading">Supplier Information</div>
      <div class="panel-body">
        <!-- row 0 -->
        <div class="row margin-bottom-10">
          <div class="col-md-12">
            <h4 class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.supplier.status">
                Status:
                <span ng-show="vm.supplier.status">Active</span>
                <span ng-hide="vm.supplier.status">Blocked</span>
              </label>
            </h4>
            <label for="supplierBlockingReason" ng-hide="vm.supplier.status">Blocking Reason</label>
            <textarea rows="3"
                      id="supplierBlockingReason"
                      class="form-control margin-bottom-25"
                      placeholder="Blocking reason"
                      ng-model="vm.supplier.blockingReason"
                      ng-hide="vm.supplier.status"></textarea>
          </div>
        </div>
        <!-- /row 0 -->

        <!-- row 1 -->
        <div class="row margin-bottom-10">
          <!-- accountingId -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="supplierAccountingId">Accounting ID</label>
              <input type="text"
                     id="supplierAccountingId"
                     class="form-control"
                     placeholder="Accounting ID"
                     ng-model="vm.supplier.accountingId"
                     ng-required="false">
            </div>
          </div>
          <!-- /accountingId -->
          <!-- name -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.supplierName.$invalid }">
              <label for="supplierName" class="label-required">Name</label>
              <input type="text"
                     id="supplierName"
                     name="supplierName"
                     class="form-control"
                     placeholder="Name"
                     ng-model="vm.supplier.name"
                     ng-required="true"
                     ng-maxlength="25">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.supplierName.$error"
                   ng-show="vm.formSubmitted && vm.form.supplierName.$invalid">
                <div class="message" ng-message="required">Name field is required.</div>
                <div class="message" ng-message="maxlength">Name field must be 25 characters or less.</div>
              </div>
            </div>
          </div>
          <!-- /name -->
        </div>
        <!-- /row 1 -->

        <!-- row 2 -->
        <div class="row margin-bottom-10">
          <!-- type -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.supplierSupplierGroup.$invalid }">
              <label for="supplierSupplierGroup">Supplier Group</label>
              <select class="form-control"
                      id="supplierSupplierGroup"
                      name="supplierSupplierGroup"
                      ng-model="vm.supplier.supplierGroup"
                      ng-required="true">
                <option disabled selected value ng-if="!vm.supplier.supplierGroup">- Select Supplier group -</option>
                <option ng-repeat="_item in vm.dbSupplierGroups" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.supplierSupplierGroup.$error"
                   ng-show="vm.formSubmitted && vm.form.supplierSupplierGroup.$invalid">
                <div class="message" ng-message="required">Supplier group is required.</div>
              </div>
            </div>
          </div>
          <!-- /type -->
          <!-- email -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.supplierEmail.$invalid }">
              <label for="supplierEmail">Email</label>
              <input type="email"
                     id="supplierEmail"
                     name="supplierEmail"
                     class="form-control"
                     placeholder="Email"
                     ng-model="vm.supplier.email"
                     ng-required="false">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.supplierEmail.$error"
                   ng-show="vm.formSubmitted && vm.form.supplierEmail.$invalid">
                <div class="message" ng-message="email">Invalid email address.</div>
              </div>
            </div>
          </div>
          <!-- /email -->
        </div>
        <!-- /row 2 -->

        <!-- row 3 -->
        <div class="row margin-bottom-10">
          <!-- phoneNumber1 -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.supplierPhoneNumber1.$invalid }">
              <label for="supplierPhoneNumber1">Phone 1</label>
              <input type="number"
                     id="supplierPhoneNumber1"
                     name="supplierPhoneNumber1"
                     class="form-control hide-number-arrows"
                     placeholder="Phone 1"
                     ng-model="vm.supplier.phoneNumber1"
                     ng-minlength="5"
                     ng-maxlength="15">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.supplierPhoneNumber1.$error"
                   ng-show="vm.formSubmitted && vm.form.supplierPhoneNumber1.$invalid">
                <div class="message" ng-message="number">Invalid phone number.</div>
                <div class="message" ng-message="minlength">Phone Number must 5 numbers at least.</div>
                <div class="message" ng-message="maxlength">Phone Number must be 15 numbers or less.</div>
              </div>
            </div>
          </div>
          <!-- phoneNumber1 -->

          <!-- phoneNumber2 -->
          <div class="col-md-6">
            <label for="supplierPhoneNumber2">Phone 2</label>
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.supplierPhoneNumber2.$invalid }">
              <input type="number"
                     id="supplierPhoneNumber2"
                     name="supplierPhoneNumber2"
                     class="form-control hide-number-arrows"
                     placeholder="Phone 2"
                     ng-model="vm.supplier.phoneNumber2"
                     ng-minlength="5"
                     ng-maxlength="15">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.supplierPhoneNumber2.$error"
                   ng-show="vm.formSubmitted && vm.form.supplierPhoneNumber2.$invalid">
                <div class="message" ng-message="number">Invalid phone number.</div>
                <div class="message" ng-message="minlength">Phone Number must 5 numbers at least.</div>
                <div class="message" ng-message="maxlength">Phone Number must be 15 numbers or less.</div>
              </div>
            </div>
          </div>
          <!-- phoneNumber2 -->
        </div>
        <!-- /row 3 -->
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Address</div>
      <div class="panel-body">
        <!-- row 1 -->
        <div class="row margin-bottom-10">
          <!-- address.governorate -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="supplierAddressGovernorate">Governorate</label>
              <select class="form-control"
                      id="supplierAddressGovernorate"
                      ng-model="vm.supplier.address.governorate"
                      ng-change="vm.updateAddressAreas(vm.supplier.address.governorate)"
                      ng-required="false">
                <option disabled selected value>- Select a Governorate -</option>
                <option ng-repeat="_item in vm.addressGovernorates" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /address.governorate -->

          <!-- address.area -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="supplierAddressArea">Area</label>
              <select class="form-control"
                      id="supplierAddressArea"
                      ng-model="vm.supplier.address.area"
                      ng-change="vm.updateAddressBlocks(vm.supplier.address.area)"
                      ng-required="false"
                      ng-disabled="!vm.supplier.address.governorate">
                <option disabled selected value>- Select an Area -</option>
                <option ng-repeat="_item in vm.addressAreas" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /address.area -->
        </div>
        <!-- /row 1 -->

        <!-- row 2 -->
        <div class="row margin-bottom-10">
          <!-- address.block -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="supplierAddressBlock">Block</label>
              <select class="form-control"
                      id="supplierAddressBlock"
                      ng-model="vm.supplier.address.block"
                      ng-required="false"
                      ng-disabled="!vm.supplier.address.area">
                <option disabled selected value>- Select a Block -</option>
                <option ng-repeat="_item in vm.addressBlocks" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /address.block -->

          <!-- address.street -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="supplierAddressStreet">Street / Jaddah</label>
              <input type="text"
                     id="supplierAddressStreet"
                     class="form-control"
                     placeholder="Street"
                     ng-model="vm.supplier.address.street">
            </div>
          </div>
          <!-- /address.street -->
        </div>
        <!-- /row 2 -->

        <!-- row 3 -->
        <div class="row margin-bottom-10">
          <!-- address.building -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="supplierAddressBuilding">Building / House</label>
              <input type="text"
                     id="supplierAddressBuilding"
                     class="form-control"
                     placeholder="Building"
                     ng-model="vm.supplier.address.building">
            </div>
          </div>
          <!-- /address.building -->

          <!-- address.paciNo -->
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form.supplierAddressPaciNo.$invalid }">
              <label for="supplierAddressPaciNo">PACI Number</label>
              <input type="number"
                     id="supplierAddressPaciNo"
                     name="supplierAddressPaciNo"
                     class="form-control"
                     placeholder="PACI Number"
                     ng-model="vm.supplier.address.paciNo"
                     ng-minlength="8"
                     ng-maxlength="8">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form.supplierAddressPaciNo.$error"
                   ng-show="vm.formSubmitted && vm.form.supplierAddressPaciNo.$invalid">
                <div class="message" ng-message="number">Invalid PACI number.</div>
                <div class="message" ng-message="minlength">PACI number must consist of 8 digits.</div>
                <div class="message" ng-message="maxlength">PACI number must consist of 8 digits.</div>
              </div>
            </div>
          </div>
          <!-- /address.paciNo -->
        </div>
        <!-- /row 3 -->

        <!-- row 3.5 -->
        <div class="row margin-bottom-10">
          <div class="col-md-12">
            <div class="form-group">
              <label for="storageAddressNotes">Notes</label>
              <textarea class="form-control"
                        id="storageAddressNotes"
                        rows="2"
                        ng-model="vm.supplier.address.notes"></textarea>
            </div>
          </div>
        </div>
        <!-- /row 3.5 -->

        <!-- row 4 -->
        <div class="row">
          <div class="col-md-2">
            <!-- latitude on map -->
            <div class="form-group">
              <label for="mapNonEditableLat">Latitude on Map</label>
              <input type="text"
                     class="form-control"
                     id="mapNonEditableLat"
                     name="mapNonEditableLat"
                     ng-model="vm.mapSelectedLatLng.latitude"
                     ng-disabled="true">
            </div>
            <!-- longitude on map -->
            <div class="form-group">
              <label for="mapNonEditableLng">Longitude on Map</label>
              <input type="text"
                     class="form-control"
                     id="mapNonEditableLng"
                     name="mapNonEditableLng"
                     ng-model="vm.mapSelectedLatLng.longitude"
                     ng-disabled="true">
            </div>
            <hr>
            <!-- chosen latitude -->
            <div class="form-group">
              <label for="customerCurrentLat">Chosen Latitude</label>
              <input type="text"
                     class="form-control"
                     id="customerCurrentLat"
                     name="customerCurrentLat"
                     ng-model="vm.supplier.address.googleMap.latitude"
                     ng-disabled="true">
            </div>
            <!-- chosen longitude -->
            <div class="form-group">
              <label for="customerCurrentLat">Chosen Longitude</label>
              <input type="text"
                     class="form-control"
                     id="customerCurrentLng"
                     name="customerCurrentLng"
                     ng-model="vm.supplier.address.googleMap.longitude"
                     ng-disabled="true">
            </div>
            <hr>
            <!-- actions -->
            <button class="btn btn-sm btn-primary" ng-click="vm.googleMapCapture()">Capture Coordinates</button>
            <button class="btn btn-sm btn-link" ng-click="vm.googleMapClear()">Clear</button>
          </div>
          <div class="col-md-10">
            <ui-gmap-google-map center="vm.mapSelectedLatLng" zoom="8" options="vm.mapOptions">
              <ui-gmap-marker coords="vm.mapMarker.coords"
                              options="vm.mapMarker.options"
                              events="vm.mapMarker.events"
                              idkey="vm.mapMarker.id">
              </ui-gmap-marker>
              <ui-gmap-search-box template="vm.mapSearchBox.template"
                                  events="vm.mapSearchBox.events"
                                  options="vm.mapSearchBox.options"
                                  position="vm.mapSearchBox.position"></ui-gmap-search-box>
            </ui-gmap-google-map>
          </div>
        </div>
        <!-- /row 4 -->
      </div>
    </div>



    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="row">
          <div class="col-sm-8">Contact Information</div>
        </div>
      </div>
      <div class="panel-body">
        <p ng-hide="vm.supplier.contactInfo.length">
          No contacts added yet,
          <a href="javascript:void(0)" ng-click="vm.addContactInfo()">Click here to add one.</a>
        </p>
        <!-- row 1 -->
        <div class="row margin-bottom-15" ng-repeat="_item in vm.supplier.contactInfo">
          <!-- contactInfo.name -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="supplierContactInfo-name-{{$index}}">Name</label>
              <input type="text"
                     data-ng-attr-id="supplierContactInfo-name-{{$index}}"
                     class="form-control"
                     placeholder="Name"
                     ng-model="_item.name">
            </div>
          </div>
          <!-- /contactInfo.name -->
          <!-- pricingInfo.designation -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="supplierContactInfo-designation-{{$index}}">Designation</label>
              <select class="form-control"
                      data-ng-attr-id="supplierContactInfo-designation-{{$index}}"
                      ng-model="_item.designation">
                <option selected disabled value ng-if="!_item.designation">- Select a Designation -</option>
                <option ng-repeat="_m in vm.dbDesignations" value="{{_m._id}}" ng-bind="_m.title"></option>
              </select>
            </div>
          </div>
          <!-- /pricingInfo.designation -->
          <!-- contactInfo.email -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="supplierContactInfo-email-{{$index}}">Email</label>
              <input type="text"
                     data-ng-attr-id="supplierContactInfo-email-{{$index}}"
                     class="form-control"
                     placeholder="Email"
                     ng-model="_item.email">
            </div>
          </div>
          <!-- /contactInfo.email -->
          <!-- contactInfo.phoneNumber1 -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="supplierContactInfo-phoneNumber1-{{$index}}">Phone 1</label>
              <input type="text"
                     data-ng-attr-id="supplierContactInfo-phoneNumber1-{{$index}}"
                     class="form-control"
                     placeholder="Phone 1"
                     ng-model="_item.phoneNumber1">
            </div>
          </div>
          <!-- /contactInfo.phoneNumber1 -->
          <!-- contactInfo.phoneNumber2 -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="supplierContactInfo-phoneNumber2-{{$index}}">Phone 2</label>
              <input type="text"
                     data-ng-attr-id="supplierContactInfo-phoneNumber2-{{$index}}"
                     class="form-control"
                     placeholder="Phone 2"
                     ng-model="_item.phoneNumber2">
            </div>
          </div>
          <!-- /contactInfo.phoneNumber2 -->
          <!-- operations -->
          <div class="col-md-2 text-right">
            <div class="margin-bottom-25"></div>
            <a href="javascript:void(0)"
               class="btn btn-danger"
               ng-click="vm.deleteContactInfo($index)"
               uib-tooltip="Delete this item">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <!-- /operations -->
        </div>
        <!-- /row 1 -->
      </div>
      <div class="panel-footer text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="vm.addContactInfo()"><i class="fa fa-plus"></i> Add Contact</a>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Pricing Information</div>
      <div class="panel-body">
        <p ng-hide="vm.supplier.pricingInfo.length">
          No materials pricing added yet,
          <a href="javascript:void(0)" ng-click="vm.addMaterialInfo()">Click here to add one.</a>
        </p>
        <div class="row margin-bottom-15" ng-repeat="_item in vm.supplier.pricingInfo">
          <!-- pricingInfo.material -->
          <div class="col-md-3">
            <div class="form-group">
              <label data-ng-attr-for="supplierPricingInfo-material-{{$index}}">Material</label>
              <select class="form-control"
                      data-ng-attr-id="supplierPricingInfo-material-{{$index}}"
                      ng-model="_item.material._id">
                <option selected disabled value ng-if="!_item.material">- Select a Material -</option>
                <option ng-repeat="_m in vm.dbMaterials" value="{{_m._id}}" ng-bind="_m.title"></option>
              </select>
            </div>
          </div>
          <!-- /pricingInfo.material -->
          <!-- pricingInfo.price -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="supplierPricingInfo-price-{{$index}}">Price</label>
              <div class="input-group">
                <input type="text"
                       data-ng-attr-id="supplierPricingInfo-price-{{$index}}"
                       class="form-control"
                       placeholder="Price"
                       ng-model="_item.price"
                       ui-number-mask="3">
                <div class="input-group-addon">KWD</div>
              </div>
            </div>
          </div>
          <!-- /pricingInfo.price -->
          <!-- pricingInfo.validFrom -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="supplierPricingInfo-validFrom-{{$index}}">Valid From</label>
              <div class="input-group">
                <input type="text"
                       data-ng-attr-id="supplierPricingInfo-validFrom-{{$index}}"
                       class="form-control"
                       placeholder="Valid from"
                       ng-model="_item.validFrom"
                       ng-focus="vm.pricingInfoDateValidFromOpened[$index]=true"
                       uib-datepicker-popup="dd/MM/yyyy"
                       data-is-open="vm.pricingInfoDateValidFromOpened[$index]"
                       data-datepicker-options="{}"
                       data-close-text="Close"/>
                <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="vm.pricingInfoDateValidFromOpened[$index]=true">
                  <i class="fa fa-calendar"></i>
                </button>
                </span>
              </div>
            </div>
          </div>
          <!-- /pricingInfo.validFrom -->
          <!-- pricingInfo.validTo -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="supplierPricingInfo-validTo-{{$index}}">Valid To</label>
              <div class="input-group">
                <input type="text"
                       id="supplierPricingInfo-validTo-{{$index}}"
                       class="form-control"
                       placeholder="Valid to"
                       ng-model="_item.validTo"
                       ng-focus="vm.pricingInfoDateValidToOpened[$index]=true"
                       uib-datepicker-popup="dd/MM/yyyy"
                       data-is-open="vm.pricingInfoDateValidToOpened[$index]"
                       data-datepicker-options="{}"
                       data-close-text="Close"/>
                <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="vm.pricingInfoDateValidToOpened[$index]=true">
                  <i class="fa fa-calendar"></i>
                </button>
                </span>
              </div>
            </div>
          </div>
          <!-- /pricingInfo.validFrom -->
          <!-- operations -->
          <div class="col-md-3 text-right">
            <div class="margin-bottom-25"></div>
            <a href="javascript:void(0)"
               class="btn btn-danger"
               ng-click="vm.deleteMaterialInfo($index)"
               uib-tooltip="Delete this item">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <!-- /operations -->
        </div>
      </div>
      <div class="panel-footer text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="vm.addMaterialInfo()"><i class="fa fa-plus"></i> Add Material Info</a>
      </div>
    </div>

    <div class="row form-actions">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success" ng-click="vm.save(false)">Save</button>
        <a href="javascript:void(0)" class="btn btn-success" ng-click="vm.save(true)" ng-hide="vm.supplier._id">Save and add another</a>
        <a href="javascript:void(0)" class="btn btn-link" ng-click="vm.formClear()" ng-hide="vm.supplier._id">Clear</a>
        <a href="javascript:void(0)" class="btn btn-link" ng-click="vm.cancel()">Cancel</a>
      </div>
    </div>
  </form>

</div>
