<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="margin-bottom-20" ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <form name="vm.form" novalidate>
    <div class="row margin-bottom-15">
      <div class="col-md-4">
        <!-- newPassword -->
        <div class="form-group"
             ng-class="{ 'has-error': vm.formSubmitted && vm.form.userPassword.$invalid }">
          <label for="userPassword" class="label-required">New Password</label>
          <input type="text"
                 class="form-control"
                 id="userPassword"
                 name="userPassword"
                 placeholder="New Password"
                 ng-model="vm.newPassword"
                 ng-required="true"
                 ng-minlength="6"
                 ng-maxlength="30">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.userPassword.$error"
               ng-show="vm.formSubmitted && vm.form.userPassword.$invalid">
            <div class="message" ng-message="required">Password field is required.</div>
            <div class="message" ng-message="minlength">Password must be at least 5 characters.</div>
            <div class="message" ng-message="maxlength">Password must be 30 characters or less.</div>
          </div>
        </div>
        <!-- /newPassword -->

        <!-- passwordConfirm -->
        <div class="form-group"
             ng-class="{ 'has-error': vm.form.passwordConfirm.$invalid && vm.form.passwordConfirm.$dirty }">
          <label for="passwordConfirm" class="label-required">Confirm Password</label>
          <input type="password"
                 id="passwordConfirm"
                 name="passwordConfirm"
                 class="form-control"
                 placeholder="Confirm Password"
                 ng-model="vm.passwordConfirm"
                 ng-required="true"
                 ui-validate="'$value==vm.newPassword'"
                 ui-validate-watch="'vm.newPassword'">
          <div class="ng-messages-wrap"
               ng-messages="vm.form.passwordConfirm.$error"
               ng-show="vm.form.passwordConfirm.$invalid && vm.form.passwordConfirm.$dirty">
            <div class="message" ng-message="required">Confirm password is required.</div>
            <div class="message" ng-message="validator">Password does not match.</div>
          </div>
        </div>
        <!-- /passwordConfirm -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success" ng-click="vm.save()">Update Password</button>
        <a ui-sref="adminUserList" class="btn btn-link">Cancel</a>
      </div>
    </div>
  </form>


</div>
