<div class="modal-dialog {{size ? 'modal-' + size : ''}}">
  <div class="modal-header">
    <h3 class="modal-title">Are you sure you want to delete this item?</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete this item?
      This action can not be undone.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="no()">Cancel</button>
    <button class="btn btn-danger" ng-click="yes()">Yes, Delete</button>
  </div>
</div>
