<div class="modal-dialog {{size ? 'modal-' + size : ''}}">
  <div class="modal-header">
    <h3 class="modal-title">Select a Customer</h3>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Accounting Id</th>
          <th>Name</th>
          <!--<th>Owner Name</th>-->
          <th>Email</th>
          <!--<th>Phone Number</th>-->
          <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="_item in customersList">
          <td ng-bind="_item.accountingId"></td>
          <td ng-bind="_item.name"></td>
          <!--<td ng-bind="_item.ownerName"></td>-->
          <td ng-bind="_item.email"></td>
          <!--<td ng-bind="_item.phoneNumber1"></td>-->
          <td>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="selectCustomer($index)">Select</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</div>
