<div class="modal-dialog {{size ? 'modal-' + size : ''}}">
  <div class="modal-header">
    <h3 class="modal-title">Pricing Information</h3>
  </div>
  <div class="modal-body">
    <form name="form">
      <div class="row margin-bottom-20">
        <!-- material -->
        <div class="col-md-6">
          <div class="form-group">
            <select class="form-control" ng-model="item.material" ng-required="true">
              <option selected disabled value ng-if="!item.material">- Select a Material -</option>
              <option ng-repeat="_item in dbMaterials" value="{{_item._id}}" ng-bind="_item.title"></option>
            </select>
          </div>
        </div>
        <!-- /material -->
        <!-- price -->
        <div class="col-md-6">
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Price"
                   ng-model="item.price"
                   ng-required="true">
          </div>
        </div>
        <!-- /price -->
      </div>

      <div class="row margin-bottom-20">
        <!-- validFrom -->
        <div class="col-md-6">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Valid from"
                   ng-model="item.validFrom"
                   ng-focus="dateValidFromOpened=true"
                   uib-datepicker-popup="{{dateFormat}}"
                   data-is-open="dateValidFromOpened"
                   data-datepicker-options="datePopupOptions"
                   data-close-text="Close"/>
            <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="dateValidFromOpened=true">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
          </div>
        </div>
        <!-- /validFrom -->
        <!-- validTo -->
        <div class="col-md-6">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Valid to"
                   ng-model="item.validTo"
                   ng-focus="dateValidToOpened=true"
                   uib-datepicker-popup="{{dateFormat}}"
                   data-is-open="dateValidToOpened"
                   data-datepicker-options="datePopupOptions"
                   data-close-text="Close"/>
            <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="dateValidToOpened=true">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
          </div>
        </div>
        <!-- /validTo -->
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="add()" ng-disabled="form.$invalid">Save Contact</button>
  </div>
</div>
