<div class="modal-dialog {{size ? 'modal-' + size : ''}}">
  <div class="modal-header">
    <h3 class="modal-title">Contact Information</h3>
  </div>
  <div class="modal-body">

    {{ editMode }}
    <br>
    {{ contactItem }}
    <br>
    {{ contactItemOriginal }}
    <br>

    <form name="form">
      <div class="row margin-bottom-20">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Name" ng-model="contactItem.name" ng-required="true">
        </div>

        <div class="col-md-6">
          <select class="form-control" ng-model="contactItem.designation" ng-required="true">
            <option selected disabled value ng-if="!contactItem.designation">- Select an Option -</option>
            <option ng-repeat="_item in dbDesignations" value="{{_item._id}}" ng-bind="_item.title"></option>
          </select>
        </div>
      </div>

      <div class="row margin-bottom-20">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Email" ng-model="contactItem.email">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Phone 1" ng-model="contactItem.phoneNumber1">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Phone 2" ng-model="contactItem.phoneNumber2">
        </div>
      </div>
    </form>


  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="add()" ng-disabled="form.$invalid">Save Contact</button>
  </div>
</div>
