<div class="modal-dialog {{size ? 'modal-' + size : ''}}">
  <div class="modal-header">
    <h3 class="modal-title">Change Order Status</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to change the order status?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="no()">Cancel</button>
    <button class="btn btn-success" ng-click="yes()">Yes</button>
  </div>
</div>
