<div class="modal-dialog {{size ? 'modal-' + size : ''}}">
  <div class="modal-header">
    <h3 class="modal-title">Cancel Order</h3>
  </div>
  <div class="modal-body">
    <form name="myForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="cancellationReason">Cancellation Reason</label>
            <select class="form-control"
                    id="cancellationReason"
                    name="cancellationReason"
                    ng-model="selectedReason"
                    ng-required="true">
              <option selected disabled value>- Select a reason for cancellation -</option>
              <option ng-repeat="r in reasons" value="{{r._id}}" ng-bind="r.title"></option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="no()">Go back</button>
    <button class="btn btn-danger" ng-click="yes()" ng-disabled="myForm.$invalid">Cancel this order</button>
  </div>
</div>
