<div class="container-fluid">
  <div class="row margin-bottom-15">
    <div class="col-md-12">
      <h1 ng-bind="vm.pageTitle"></h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <a ui-sref="{{ vm.addNewLink.state }}" class="btn btn-default">
          <i class="fa fa-plus"></i> {{ vm.addNewLink.title }}
        </a>
      </p>
    </div>
  </div>


  <div class="row margin-bottom-15">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th ng-repeat="_row in vm.listingTableHeader" ng-bind="_row"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="_item in vm.list">
            <td>
              <span uib-tooltip="Click to edit title" data-editable-text="_item.title" data-onbeforesave="vm.updateItem(_item)">
                {{ _item.title }}
              </span>
            </td>
            <td>
              <span uib-tooltip="Click to edit status" data-editable-checkbox="_item.status" data-onbeforesave="vm.updateItem(_item)">
                <span ng-show="_item.status">Active</span>
                <span ng-hide="_item.status">Blocked</span>
              </span>
            </td>
            <td>
              <a href="javascript:void(0)" class="btn btn-danger" uib-tooltip="Delete this item" ng-click="vm.deleteItem(_item)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
