<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1 class="margin-bottom-20" ng-bind-html="vm.pageTitle"></h1>

      <form name="vm.form">
        <div class="row margin-bottom-15">
          <div class="col-md-12">
            <h4 class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.item.status">
                Status:
                <span ng-show="vm.item.status">Active</span>
                <span ng-hide="vm.item.status">Blocked</span>
              </label>
            </h4>
          </div>
        </div>

        <div class="row margin-bottom-15">
          <div class="col-md-4">
            <div class="form-group">
              <label for="itemTitle">Title</label>
              <input type="text"
                     id="itemTitle"
                     class="form-control"
                     placeholder="Title"
                     ng-model="vm.item.title"
                     ng-required="true"
                     ng-maxlength="255">
            </div>
          </div>
        </div>

        <div class="row form-actions">
          <div class="col-md-12">

            <a href="javascript:void(0)"
               class="btn btn-success"
               ng-click="vm.save(false)"
               ng-disabled="vm.form.$invalid">Save</a>

            <a href="javascript:void(0)"
               class="btn btn-success"
               ng-click="vm.save(true)"
               ng-disabled="vm.form.$invalid">Save and add another</a>

            <a href="javascript:void(0)"
               class="btn btn-link"
               ng-click="vm.cancel()">Cancel</a>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
