<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <a ui-sref="adminStorageAdd" class="btn btn-default">
          <i class="fa fa-plus"></i> Add new storage
        </a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Plate No.</th>
            <th>Latest Assigned Leader</th>
            <th>Latest Assigned Dispatcher</th>
            <th>Status</th>
            <th>State</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="_item in vm.storageList">
            <td ng-bind="_item.storageId"></td>
            <td ng-bind="_item.title"></td>
            <td ng-bind="_item.plateNumber"></td>
            <td ng-bind="_item.currentLeader.name || 'Not Assigned'"></td>
            <td ng-bind="_item.currentDispatcher.name || 'Not Assigned'"></td>
            <td>
              <span ng-show="_item.status">Active</span>
              <span ng-hide="_item.status">Blocked</span>
            </td>
            <td>
              <span ng-show="_item.isAvailable">Available</span>
              <span ng-hide="_item.isAvailable">Not Available</span>
            </td>
            <td>
              <a ui-sref="adminStorageEdit({ storageId: _item._id })" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-danger" ng-click="vm.deleteStorage(_item._id)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>
