<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <a ui-sref="adminCustomerAdd" class="btn btn-default">
          <i class="fa fa-plus"></i> Add new customer
        </a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th></th>
            <th>Accounting ID</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="_item in vm.customers">
            <td>
              <input type="checkbox" ng-model="vm.selectedSupplierIds[_supplier._id]">
            </td>
            <td ng-bind="_item.accountingId"></td>
            <td ng-bind="_item.name"></td>
            <td ng-bind="_item.ownerName"></td>
            <td ng-bind="_item.email"></td>
            <td ng-bind="_item.phoneNumber1"></td>
            <td>
              <span ng-show="_item.status">Active</span>
              <span ng-hide="_item.status">Blocked</span>
            </td>
            <td>
              <a ui-sref="adminCustomerEdit({ customerId: _item._id })" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-danger" ng-click="vm.deleteCustomer(_item._id)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
