<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <a ui-sref="adminTaxonomyAddressSectionAdd({ sectionType: 'governorate', parentId: null })"
           class="btn btn-default"
           ng-show="vm.qsSectionType==='governorate'">
          <i class="fa fa-plus"></i> Add new governorate
        </a>

        <a ui-sref="adminTaxonomyAddressSectionList({ sectionType: 'governorate', parentId: null })"
           class="btn btn-default"
           ng-show="vm.qsSectionType!=='governorate'">
          <i class="fa fa-list"></i> Back to all governorates
        </a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-show="vm.list.length===0">
            <td colspan="2">
              <!-- add area if no areas -->
              <span ng-show="vm.qsSectionType==='area'">
                No areas yet,
                <a ui-sref="adminTaxonomyAddressSectionAdd({ sectionType: 'area', parentId: vm.qsParentId })">add new area</a>.
              </span>
              <!-- add block if no blocks -->
              <span ng-show="vm.qsSectionType==='block'">
                No blocks yet,
                <a ui-sref="adminTaxonomyAddressSectionAdd({ sectionType: 'block', parentId: vm.qsParentId })">add new block</a>.
              </span>
            </td>
          </tr>
          <tr ng-repeat="_item in vm.list">
            <td>
              <span uib-tooltip="Click to edit {{ vm.qsSectionType }}"
                    data-editable-text="_item.title"
                    data-onbeforesave="vm.updateItem(_item)">
                {{ _item.title }}
              </span>
            </td>
            <td>
              <span ng-show="vm.qsSectionType==='governorate'">
                <a ui-sref="adminTaxonomyAddressSectionAdd({ sectionType: 'area', parentId: _item._id })"
                   class="btn btn-default"
                   uib-tooltip="Add new area to {{ _item.title }}">
                  <i class="fa fa-plus"></i>
                </a>
                <a ui-sref="adminTaxonomyAddressSectionList({ sectionType: 'area', parentId: _item._id })"
                   class="btn btn-primary"
                   uib-tooltip="List all areas under {{ _item.title }}">
                  <i class="fa fa-list"></i>
                </a>
              </span>

              <span ng-show="vm.qsSectionType==='area'">
                <a href="javascript:void(0)"
                   class="btn btn-default"
                   uib-tooltip="Back"
                   ng-click="vm.historyBack()">
                  <i class="fa fa-chevron-left"></i>
                </a>
                <a ui-sref="adminTaxonomyAddressSectionAdd({ sectionType: 'block', parentId: _item._id })"
                   class="btn btn-default"
                   uib-tooltip="Add new block to {{ _item.title }}">
                  <i class="fa fa-plus"></i>
                </a>
                <a ui-sref="adminTaxonomyAddressSectionList({ sectionType: 'block', parentId: _item._id })"
                   class="btn btn-primary"
                   uib-tooltip="List all blocks under {{ _item.title }}">
                  <i class="fa fa-list"></i>
                </a>
              </span>

              <span ng-show="vm.qsSectionType==='block'">
                <a href="javascript:void(0)"
                   class="btn btn-default"
                   uib-tooltip="Back"
                   ng-click="vm.historyBack()">
                  <i class="fa fa-chevron-left"></i>
                </a>
              </span>

              <a href="javascript:void(0)"
                 class="btn btn-danger"
                 uib-tooltip="Delete {{ _item.title }}"
                 ng-click="vm.deleteItem(_item._id)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
