<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="margin-bottom-20" ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <form name="vm.form" novalidate>

    <div class="row">
      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading">Storage Information</div>
          <div class="panel-body">
            <!-- row 1 -->
            <div class="row margin-bottom-15">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="salesOrderStorageIdRef">Storage</label>
                  <select class="form-control"
                          id="salesOrderStorageIdRef"
                          ng-model="vm.salesOrder.storageIdRef"
                          ng-change="vm.orderStorageChanged()"
                          ng-required="false"
                          ng-options="_storage._id as _storage.currentLeader.name for _storage in vm.dbStorages">
                    <option selected value>- Select a Storage -</option>
                  </select>
                </div>

              </div>
            </div>
            <!-- /row 1 -->
            <!-- row -->
            <div class="row" ng-if="vm.salesOrder.storageIdRef">
              <!-- Storage Type -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="storageType">Storage Type</label>
                  <input type="text"
                         id="storageType"
                         class="form-control"
                         ng-disabled="true"
                         ng-value="vm.dbStoragesGrouped[vm.salesOrder.storageIdRef][0].storageType.title">
                </div>
              </div>
              <!-- /Storage Type -->
              <!-- Plate Number -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="storagePlateNo">Plate Number</label>
                  <input type="text"
                         id="storagePlateNo"
                         class="form-control"
                         ng-value="vm.dbStoragesGrouped[vm.salesOrder.storageIdRef][0].plateNumber"
                         ng-disabled="true">
                </div>
              </div>
              <!-- /Plate Number -->
            </div>
            <!-- /row -->
            <!-- row -->
            <div class="row" ng-if="vm.salesOrder.storageIdRef">
              <!-- Current Leader -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="storageCurrentLeader">Current Leader</label>
                  <input type="text"
                         id="storageCurrentLeader"
                         class="form-control"
                         ng-disabled="true"
                         ng-value="vm.dbStoragesGrouped[vm.salesOrder.storageIdRef][0].currentLeader.name">
                </div>
              </div>
              <!-- /Current Leader -->
              <!-- Current Dispatcher -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="storageCurrentDispatcher">Current Dispatcher</label>
                  <input type="text"
                         id="storageCurrentDispatcher"
                         class="form-control"
                         ng-value="vm.dbStoragesGrouped[vm.salesOrder.storageIdRef][0].currentDispatcher.name"
                         ng-disabled="true">
                </div>
              </div>
              <!-- /Current Dispatcher -->
            </div>
            <!-- /row -->
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">Order Information</div>
          <div class="panel-body">

            <!-- salesOrder.orderNumber -->
            <div ng-show="vm.salesOrder._id">
              <div class="form-group">
                <label>Order Number</label>:
                <span ng-bind="vm.salesOrder.orderNumber"></span>
              </div>
            </div>
            <!-- /salesOrder.orderNumber -->

            <!-- salesOrder.status -->
            <div class="margin-bottom-15">
              <div class="form-group"
                   ng-class="{ 'has-error': vm.formSubmitted && vm.form.salesOrderStatus.$invalid }">
                <label for="salesOrderStatus">Status</label>
                <select class="form-control"
                        id="salesOrderStatus"
                        name="salesOrderStatus"
                        ng-model="vm.salesOrder.orderStatus"
                        ng-change="vm.orderStatusChanged()"
                        ng-required="true">
                  <option ng-repeat="(stKey, stVal) in vm.salesOrderStatuses" value="{{stKey}}"
                          ng-bind="stVal"></option>
                </select>
                <div class="ng-messages-wrap"
                     ng-messages="vm.form.salesOrderStatus.$error"
                     ng-show="vm.formSubmitted && vm.form.salesOrderStatus.$invalid">
                  <div class="message" ng-message="required">Order status is required.</div>
                </div>
              </div>
            </div>
            <!-- /salesOrder.status -->

            <!-- salesOrder.orderCostTotal -->
            <div>
              <div class="form-group">
                <label for="salesOrderOrderTotalCost">Order Total</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="salesOrderOrderTotalCost"
                         name="salesOrderOrderTotalCost"
                         ng-model="vm.salesOrder.orderCostTotal"
                         ng-disabled="true"
                         ui-number-mask="3">
                  <div class="input-group-addon">KWD</div>
                </div>
              </div>
            </div>
            <!-- /salesOrder.orderCostTotal -->

            <!-- salesOrder.notes -->
            <div class="row margin-bottom-15">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="salesOrderNotes">Notes</label>
                  <textarea class="form-control"
                            id="salesOrderNotes"
                            cols="3"
                            placeholder="Notes"
                            ng-model="vm.salesOrder.notes"></textarea>
                </div>
              </div>
            </div>
            <!-- /salesOrder.notes -->

            <!-- salesOrder.created -->
            <div class="margin-bottom-15" ng-show="vm.salesOrder._id">
              Created:
              <br>
              <span ng-bind="vm.salesOrder.created | date:'EEEE, dd/MM/yyyy - hh:MM:ss a'"></span>
            </div>
            <!-- /salesOrder.created -->

            <!-- salesOrder.changes -->
            <div ng-show="vm.salesOrder._id">
              Last modified:
              <br>
              <span ng-bind="vm.salesOrder.changed | date:'EEEE, dd/MM/yyyy - HH:MM:ss a'"></span>
            </div>
            <!-- /salesOrder.changes -->

          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Customer Information</div>
      <div class="panel-body">
        <!-- row 1 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedCustomer.accountingId -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="dbSelectedCustomerAccountingId">Customer Accounting ID</label>
              <div ng-class="{ 'input-group': !vm.salesOrder._id }">
                <input type="text"
                       id="dbSelectedCustomerAccountingId"
                       class="form-control"
                       ng-model="vm.dbSelectedCustomer.accountingId"
                       ng-disabled="vm.salesOrder._id"
                       placeholder="Customer Accounting Id">
                <div class="input-group-addon cursor"
                     ng-click="vm.searchCustomers({ accountingId: vm.dbSelectedCustomer.accountingId })"
                     ng-hide="vm.salesOrder._id"
                     uib-tooltip="Search by Customer Accounting Id">
                  Search
                </div>
              </div>
            </div>
          </div>
          <!-- /dbSelectedCustomer.accountingId -->

          <!-- dbSelectedCustomer.name -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="dbSelectedCustomerName">Customer Name</label>
              <div ng-class="{ 'input-group': !vm.salesOrder._id }">
                <input type="text"
                       id="dbSelectedCustomerName"
                       class="form-control"
                       ng-model="vm.dbSelectedCustomer.name"
                       ng-disabled="vm.salesOrder._id"
                       uib-typeahead="c.name as c.name for c in vm.dbCustomerNames | filter:{name: $viewValue} | limitTo:8"
                       data-typeahead-on-select="vm.customerNameSelectedTypeAhead($item, $model, $label, $event)"
                       placeholder="Customer Name">
                <div class="input-group-addon cursor"
                     ng-click="vm.searchCustomers({ name: { $regex: vm.dbSelectedCustomer.name, $options: 'i' } })"
                     ng-hide="vm.salesOrder._id"
                     uib-tooltip="Search by Customer Name">
                  Search
                </div>
              </div>
            </div>
          </div>
          <!-- /dbSelectedCustomer.name -->
        </div>
        <!-- /row 1 -->


        <!-- row 2 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedCustomer.ownerName -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="dbSelectedCustomerOwnerName">Customer Owner Name</label>
              <div ng-class="{ 'input-group': !vm.salesOrder._id }">
                <input type="text"
                       id="dbSelectedCustomerOwnerName"
                       class="form-control"
                       ng-model="vm.dbSelectedCustomer.ownerName"
                       ng-disabled="vm.salesOrder._id"
                       placeholder="Customer Owner Name">
                <div class="input-group-addon cursor"
                     ng-click="vm.searchCustomers({ ownerName: { $regex: vm.dbSelectedCustomer.ownerName, $options: 'i' } })"
                     ng-hide="vm.salesOrder._id"
                     uib-tooltip="Search by Customer Owner Name">
                  Search
                </div>
              </div>
            </div>
          </div>
          <!-- /dbSelectedCustomer.ownerName -->

          <!-- dbSelectedCustomer.email -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="dbSelectedCustomerEmail">Customer Email</label>
              <div ng-class="{ 'input-group': !vm.salesOrder._id }">
                <input type="text"
                       id="dbSelectedCustomerEmail"
                       class="form-control"
                       ng-model="vm.dbSelectedCustomer.email"
                       ng-disabled="vm.salesOrder._id"
                       placeholder="Customer Email">
                <div class="input-group-addon cursor"
                     ng-click="vm.searchCustomers({ email: { $regex: vm.dbSelectedCustomer.email, $options: 'i' } })"
                     ng-hide="vm.salesOrder._id"
                     uib-tooltip="Search by Customer Email">
                  Search
                </div>
              </div>
            </div>
          </div>
          <!-- /dbSelectedCustomer.email -->
        </div>
        <!-- /row 2 -->

        <!-- row 2.5 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedCustomer.ownerName -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="dbSelectedCustomerCustomerId">Customer ID</label>
              <div ng-class="{ 'input-group': !vm.salesOrder._id }">
                <input type="text"
                       id="dbSelectedCustomerCustomerId"
                       class="form-control"
                       ng-model="vm.dbSelectedCustomer.customerId"
                       ng-disabled="vm.salesOrder._id"
                       placeholder="Customer ID">
                <div class="input-group-addon cursor"
                     ng-click="vm.searchCustomers({ customerId: vm.dbSelectedCustomer.customerId })"
                     ng-hide="vm.salesOrder._id"
                     uib-tooltip="Search by Customer ID">
                  Search
                </div>
              </div>
            </div>
          </div>
          <!-- /dbSelectedCustomer.ownerName -->
        </div>
        <!-- /row 2.5 -->


        <!-- row 3 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedCustomer.address.governorate -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Governorate</label>
              <input type="text"
                     class="form-control"
                     placeholder="Governorate"
                     ng-model="vm.dbSelectedCustomer.address.governorate.title"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /dbSelectedCustomer.address.governorate -->
          <!-- dbSelectedCustomer.address.area -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Area</label>
              <input type="text"
                     class="form-control"
                     placeholder="Area"
                     ng-model="vm.dbSelectedCustomer.address.area.title"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /dbSelectedCustomer.address.area -->
        </div>
        <!-- /row 3 -->


        <!-- row 4 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedCustomer.address.block -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Block</label>
              <input type="text"
                     class="form-control"
                     placeholder="Block"
                     ng-model="vm.dbSelectedCustomer.address.block.title"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /dbSelectedCustomer.address.block -->

          <!-- dbSelectedCustomer.address.street -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Street / Jaddah</label>
              <input type="text"
                     class="form-control"
                     placeholder="Street / Jaddah"
                     ng-model="vm.dbSelectedCustomer.address.street"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /dbSelectedCustomer.address.street -->
        </div>
        <!-- /row 4 -->


        <!-- row 5 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedCustomer.address.building -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Building / House</label>
              <input type="text"
                     class="form-control"
                     placeholder="Building / House"
                     ng-model="vm.dbSelectedCustomer.address.building"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /dbSelectedCustomer.address.building -->
          <!-- dbSelectedCustomer.address.paciNo -->
          <div class="col-md-6">
            <label>PACI Number</label>
            <input type="text"
                   class="form-control"
                   placeholder="PACI Number"
                   ng-model="vm.dbSelectedCustomer.address.paciNo"
                   ng-disabled="true">
          </div>
          <!-- /dbSelectedCustomer.address.paciNo -->
        </div>
        <!-- /row 5 -->


        <!-- row 5.5 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedCustomer.address.notes -->
          <div class="col-md-12">
            <div class="form-group">
              <label>Address Notes</label>
              <textarea class="form-control"
                        rows="2"
                        ng-model="vm.dbSelectedCustomer.address.notes"
                        ng-disabled="true"></textarea>
            </div>
          </div>
          <!-- dbSelectedCustomer.address.notes -->
        </div>
        <!-- /row 5.5 -->


        <!-- row 6 -->
        <!--<div class="row margin-bottom-15">-->
        <!--<div class="col-md-10 col-md-offset-1">-->
        <!--<ui-gmap-google-map ng-if="vm.dbSelectedCustomer.address" center="vm.dbSelectedCustomer.address.googleMap"-->
        <!--zoom="8" options="vm.mapOptions">-->
        <!--<ui-gmap-marker coords="vm.dbSelectedCustomer.address.googleMap" idkey="1"></ui-gmap-marker>-->
        <!--</ui-gmap-google-map>-->
        <!--</div>-->
        <!--</div>-->
        <!-- /row 6 -->
      </div>
      <div class="panel-footer text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="vm.deleteDbSelectedCustomer()">
          <i class="fa fa-times"></i> Clear Selection
        </a>
      </div>
    </div>


    <!-- Material Information -->
    <div class="panel panel-default" ng-show="vm.dbSelectedCustomer._id">
      <div class="panel-heading">Material Information</div>
      <div class="panel-body">
        <p ng-hide="vm.salesOrder.materialInfo.length">
          No materials added yet,
          <a href="javascript:void(0)" ng-click="vm.addMaterialInfo()">Click here to add one.</a>
        </p>

        <div class="row margin-bottom-15" ng-repeat="_item in vm.salesOrder.materialInfo">
          <div class="col-md-3">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['salesOrderMaterialInfoMaterialIdRef-' + $index].$invalid }">
              <label data-ng-attr-for="salesOrderMaterialInfoMaterialIdRef-{{$index}}">Material</label>
              <select class="form-control"
                      data-ng-attr-id="salesOrderMaterialInfoMaterialIdRef-{{$index}}"
                      data-ng-attr-name="salesOrderMaterialInfoMaterialIdRef-{{$index}}"
                      ng-model="_item.materialIdRef"
                      ng-required="true"
                      ng-change="vm.customerMaterialSelected(_item.materialIdRef, $index)">
                <option selected value disabled>- Select a Material -</option>
                <option ng-repeat="(_key1, _val1) in vm.customerAllowedMaterials"
                        value="{{_key1}}"
                        ng-bind="_val1.material.title">
                </option>
              </select>
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['salesOrderMaterialInfoMaterialIdRef-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['salesOrderMaterialInfoMaterialIdRef-' + $index].$invalid">
                <div class="message" ng-message="required">Select a material.</div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="salesOrderMaterialInfoAccountingId-{{$index}}">Acc. ID</label>
              <input type="text"
                     data-ng-attr-id="salesOrderMaterialInfoAccountingId-{{$index}}"
                     data-ng-attr-name="salesOrderMaterialInfoAccountingId-{{$index}}"
                     class="form-control"
                     ng-value="vm.customerAllowedMaterials[_item.materialIdRef].material.accountingId"
                     ng-disabled="true">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['salesOrderMaterialInfoQuantity-' + $index].$invalid }">
              <label data-ng-attr-for="salesOrderMaterialInfoQuantity-{{$index}}"
                     uib-tooltip="Ordered quantity">Quantity</label>
              <input type="number"
                     data-ng-attr-id="salesOrderMaterialInfoQuantity-{{$index}}"
                     name="salesOrderMaterialInfoQuantity-{{$index}}"
                     class="form-control"
                     placeholder="Quantity"
                     ng-model="_item.quantity"
                     ng-required="true"
                     ng-min="1"
                     ng-max="99">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['salesOrderMaterialInfoQuantity-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['salesOrderMaterialInfoQuantity-' + $index].$invalid">
                <div class="message" ng-message="required">Quantity is required.</div>
                <div class="message" ng-message="number">Invalid number.</div>
                <div class="message" ng-message="min">Quantity must be more than 0.</div>
                <div class="message" ng-message="max">Quantity must be less than 99.</div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['salesOrderMaterialInfoCost-' + $index].$invalid }">
              <label data-ng-attr-for="salesOrderMaterialInfoCost-{{$index}}">Cost</label>
              <div class="input-group">
                <input type="text"
                       data-ng-attr-id="salesOrderMaterialInfoCost-{{$index}}"
                       data-ng-attr-name="salesOrderMaterialInfoCost-{{$index}}"
                       class="form-control"
                       placeholder="Cost"
                       ng-model="_item.cost"
                       ng-disabled="!vm.dbSelectedCustomer.isCashCustomer"
                       ng-required="true"
                       ui-number-mask="3">
                <div class="input-group-addon">KWD</div>
              </div>
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['salesOrderMaterialInfoCost-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['salesOrderMaterialInfoCost-' + $index].$invalid">
                <div class="message" ng-message="required">Cost is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="salesOrderMaterialInfoCostTotal-{{$index}}">Total Cost</label>
              <div class="input-group">
                <input type="text"
                       data-ng-attr-id="salesOrderMaterialInfoCostTotal-{{$index}}"
                       data-ng-attr-name="salesOrderMaterialInfoCostTotal-{{$index}}"
                       class="form-control"
                       placeholder="Total Cost"
                       ng-model="_item.costTotal"
                       ng-disabled="true"
                       ui-number-mask="3">
                <div class="input-group-addon">KWD</div>
              </div>
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['salesOrderMaterialInfoCost-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['salesOrderMaterialInfoCost-' + $index].$invalid">
                <div class="message" ng-message="required">Cost is required.</div>
              </div>
            </div>
          </div>
          <!-- operations -->
          <div class="col-md-1 text-right">
            <div class="margin-bottom-25"></div>
            <a href="javascript:void(0)"
               class="btn btn-danger"
               ng-click="vm.deleteMaterialInfo($index)"
               uib-tooltip="Delete this item">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <!-- /operations -->
        </div>
      </div>
      <div class="panel-footer text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="vm.addMaterialInfo()">
          <i class="fa fa-plus"></i> Add Material
        </a>
      </div>
    </div>
    <!-- /Material Information -->


    <!-- Spares Information -->
    <div class="panel panel-default" ng-show="vm.dbSelectedCustomer._id">
      <div class="panel-heading">Spares Information</div>
      <div class="panel-body">
        <div class="row margin-bottom-15" ng-repeat="_item in vm.salesOrder.materialReturnedSpares">
          <!-- Material -->
          <div class="col-md-3">
            <div class="form-group">
              <label>Material</label>
              <input type="text"
                     class="form-control"
                     ng-value="vm.cylinderMaterials[_item.materialIdRef].title"
                     ng-disabled="true">
            </div>
          </div>
          <!-- Accounting ID -->
          <div class="col-md-3">
            <div class="form-group">
              <label>Accounting ID</label>
              <input type="text"
                     class="form-control"
                     ng-value="vm.cylinderMaterials[_item.materialIdRef].accountingId"
                     ng-disabled="true">
            </div>
          </div>
          <!-- Expected Returned Cylinder Spares -->
          <div class="col-md-3">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['salesOrderMaterialInfoExpRetSpr-' + $index].$invalid }">
              <label data-ng-attr-for="salesOrderMaterialInfoExpRetSpr-{{$index}}">Expected Returned Cylinder
                Spares</label>
              <input type="number"
                     data-ng-attr-id="salesOrderMaterialInfoExpRetSpr-{{$index}}"
                     data-ng-attr-name="salesOrderMaterialInfoExpRetSpr-{{$index}}"
                     class="form-control"
                     placeholder="Expected Returned Cylinder Spares"
                     ng-model="_item.returnedSpares"
                     ng-disabled="true"
                     ng-min="0">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['salesOrderMaterialInfoExpRetSpr-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['salesOrderMaterialInfoExpRetSpr-' + $index].$invalid">
                <div class="message" ng-message="number">Invalid number.</div>
                <div class="message" ng-message="min">Expected returned spares can not be a negative number.</div>
              </div>
            </div>
          </div>
          <!-- Actual Returned Cylinder Spares -->
          <div class="col-md-3">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['salesOrderMaterialInfoExpRetSprActual-' + $index].$invalid }">
              <label data-ng-attr-for="salesOrderMaterialInfoExpRetSprActual-{{$index}}">Actual Returned Cylinder
                Spares</label>
              <input type="number"
                     data-ng-attr-id="salesOrderMaterialInfoExpRetSprActual-{{$index}}"
                     data-ng-attr-name="salesOrderMaterialInfoExpRetSprActual-{{$index}}"
                     class="form-control"
                     ng-model="_item.returnedSparesActual"
                     ng-min="0">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['salesOrderMaterialInfoExpRetSprActual-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['salesOrderMaterialInfoExpRetSprActual-' + $index].$invalid">
                <div class="message" ng-message="number">Invalid number.</div>
                <div class="message" ng-message="min">Can not be a negative number.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Spares Information -->


    <div class="row">
      <div class="col-md-12">
        <div class="form-actions">
          <button class="btn btn-success" ng-click="vm.save()">Save</button>
          <a ui-sref="adminSalesOrderDashboardDrag" class="btn btn-link">Cancel</a>
        </div>
      </div>
    </div>

  </form>
</div>
