<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="margin-bottom-20" ng-bind="vm.pageTitle"></h1>
    </div>
  </div>


  <form name="vm.form" novalidate>

    <div class="row">
      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading">Leader Information</div>
          <div class="panel-body">
            <!-- row 1 -->
            <div class="row margin-bottom-15">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="purchaseOrderStorageIdRef">Storage</label>
                  <select class="form-control"
                          id="purchaseOrderStorageIdRef"
                          ng-model="vm.purchaseOrder.storageIdRef"
                          ng-change="vm.orderStorageChanged()"
                          ng-required="false"
                          ng-options="_storage._id as _storage.currentLeader.name for _storage in vm.dbStorages">
                    <option selected value>- Select a Storage -</option>
                  </select>
                </div>

                <!--ng-options="_ldr._id as _ldr.name for _ldr in vm.dbLeaders track by _ldr._id"-->
                <!--<option ng-repeat="_ldr in vm.dbLeaders" value="{{_ldr._id}}" ng-bind="_ldr.name"></option>-->
                <!--<div class="form-group">-->
                  <!--<label for="purchaseOrderLeaderIdRef">Leader</label>-->
                  <!--<select class="form-control"-->
                          <!--id="purchaseOrderLeaderIdRef"-->
                          <!--ng-model="vm.purchaseOrder.leaderIdRef"-->
                          <!--ng-required="false"-->
                          <!--ng-options="_ldr._id as _ldr.name for _ldr in vm.dbLeaders"-->
                          <!--data-width="'100%'"-->
                          <!--data-inherit-select-classes="true"-->
                          <!--data-disable-search="false"-->
                          <!--data-search-contains="true"-->
                          <!--data-placeholder-text-single="'Select a Leader'">-->
                    <!--<option selected value>- Select a Leader -</option>-->
                  <!--</select>-->
                <!--</div>-->

              </div>
            </div>
            <!-- /row 1 -->
            <!-- row -->
            <div class="row" ng-if="vm.purchaseOrder.storageIdRef">
              <!-- Storage Type -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="storageType">Storage Type</label>
                  <input type="text"
                         id="storageType"
                         class="form-control"
                         ng-disabled="true"
                         ng-value="vm.dbStoragesGrouped[vm.purchaseOrder.storageIdRef][0].storageType.title">
                </div>
              </div>
              <!-- /Storage Type -->
              <!-- Plate Number -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="storagePlateNo">Plate Number</label>
                  <input type="text"
                         id="storagePlateNo"
                         class="form-control"
                         ng-value="vm.dbStoragesGrouped[vm.purchaseOrder.storageIdRef][0].plateNumber"
                         ng-disabled="true">
                </div>
              </div>
              <!-- /Plate Number -->
            </div>
            <!-- /row -->
            <!-- row -->
            <div class="row" ng-if="vm.purchaseOrder.storageIdRef">
              <!-- Current Leader -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="storageCurrentLeader">Current Leader</label>
                  <input type="text"
                         id="storageCurrentLeader"
                         class="form-control"
                         ng-disabled="true"
                         ng-value="vm.dbStoragesGrouped[vm.purchaseOrder.storageIdRef][0].currentLeader.name">
                </div>
              </div>
              <!-- /Current Leader -->
              <!-- Current Dispatcher -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="storageCurrentDispatcher">Current Dispatcher</label>
                  <input type="text"
                         id="storageCurrentDispatcher"
                         class="form-control"
                         ng-value="vm.dbStoragesGrouped[vm.purchaseOrder.storageIdRef][0].currentDispatcher.name"
                         ng-disabled="true">
                </div>
              </div>
              <!-- /Current Dispatcher -->
            </div>
            <!-- /row -->
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">Order Information</div>
          <div class="panel-body">

            <!-- purchaseOrder.orderNumber -->
            <div ng-show="vm.purchaseOrder._id">
              <div class="form-group">
                <label>Order Number</label>:
                <span ng-bind="vm.purchaseOrder.orderNumber"></span>
              </div>
            </div>
            <!-- /purchaseOrder.orderNumber -->

            <!-- purchaseOrder.status -->
            <div class="margin-bottom-15">
              <div class="form-group">
                <label for="purchaseOrderStatus">Status</label>
                <select class="form-control"
                        id="purchaseOrderStatus"
                        name="purchaseOrderStatus"
                        ng-model="vm.purchaseOrder.orderStatus"
                        ng-change="vm.orderStatusChanged()"
                        ng-required="true">
                  <option ng-repeat="(stKey, stVal) in vm.purchaseOrderStatuses" value="{{stKey}}" ng-bind="stVal"></option>
                </select>
              </div>
            </div>
            <!-- /purchaseOrder.status -->

            <!-- purchaseOrder.orderCostTotal -->
            <div>
              <div class="form-group">
                <label for="purchaseOrderOrderTotalCost">Order Total</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="purchaseOrderOrderTotalCost"
                         name="purchaseOrderOrderTotalCost"
                         ng-model="vm.purchaseOrder.orderCostTotal"
                         ng-disabled="true"
                         ui-number-mask="3">
                  <div class="input-group-addon">KWD</div>
                </div>
              </div>
            </div>
            <!-- /purchaseOrder.orderCostTotal -->

            <!-- purchaseOrder.notes -->
            <div class="row margin-bottom-15">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="purchaseOrderNotes">Notes</label>
                  <textarea class="form-control"
                            id="purchaseOrderNotes"
                            cols="3"
                            placeholder="Notes"
                            ng-model="vm.purchaseOrder.notes"></textarea>
                </div>
              </div>
            </div>
            <!-- /purchaseOrder.notes -->

            <!-- purchaseOrder.created -->
            <div class="margin-bottom-15" ng-show="vm.purchaseOrder._id">
              Created:
              <br>
              <span ng-bind="vm.purchaseOrder.created | date:'EEEE, dd/MM/yyyy - hh:MM:ss a'"></span>
            </div>
            <!-- /purchaseOrder.created -->

            <!-- purchaseOrder.changes -->
            <div ng-show="vm.purchaseOrder._id">
              Last modified:
              <br>
              <span ng-bind="vm.purchaseOrder.changed | date:'EEEE, dd/MM/yyyy - HH:MM:ss a'"></span>
            </div>
            <!-- /purchaseOrder.changes -->

          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Supplier Information</div>
      <div class="panel-body">
        <!-- row 1 -->
        <div class="row margin-bottom-5">

          <!-- dbSelectedSupplier.accountingId -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="dbSelectedSupplierAccountingId">Supplier Accounting ID</label>
              <div ng-class="{ 'input-group': !vm.purchaseOrder._id }">
                <input type="text"
                       id="dbSelectedSupplierAccountingId"
                       class="form-control"
                       ng-model="vm.dbSelectedSupplier.accountingId"
                       ng-disabled="vm.purchaseOrder._id"
                       placeholder="Supplier Accounting Id">
                <div class="input-group-addon cursor"
                     ng-click="vm.searchSuppliers({ accountingId: vm.dbSelectedSupplier.accountingId })"
                     ng-hide="vm.purchaseOrder._id"
                     uib-tooltip="Search by Supplier Accounting Id">
                  Search
                </div>
              </div>
            </div>
          </div>
          <!-- /dbSelectedSupplier.accountingId -->

          <!-- dbSelectedSupplier.name -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="dbSelectedSupplierName">Supplier Name</label>
              <div ng-class="{ 'input-group': !vm.purchaseOrder._id }">
                <input type="text"
                       id="dbSelectedSupplierName"
                       class="form-control"
                       ng-model="vm.dbSelectedSupplier.name"
                       ng-disabled="vm.purchaseOrder._id"
                       uib-typeahead="c.name as c.name for c in vm.dbSuppliersNames | filter:{name: $viewValue} | limitTo:8"
                       data-typeahead-on-select="vm.supplierNameSelectedTypeAhead($item, $model, $label, $event)"
                       placeholder="Supplier Name">
                <div class="input-group-addon cursor"
                     ng-click="vm.searchSuppliers({ name: { $regex: vm.dbSelectedSupplier.name, $options: 'i' } })"
                     ng-hide="vm.purchaseOrder._id"
                     uib-tooltip="Search by Supplier Name">
                  Search
                </div>
              </div>
            </div>
          </div>
          <!-- /dbSelectedSupplier.name -->

        </div>
        <!-- /row 1 -->


        <!-- row 3 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedSupplier.address.governorate -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Governorate</label>
              <input type="text"
                     class="form-control"
                     placeholder="Governorate"
                     ng-model="vm.dbSelectedSupplier.address.governorate.title"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /dbSelectedSupplier.address.governorate -->
          <!-- dbSelectedSupplier.address.area -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Area</label>
              <input type="text"
                     class="form-control"
                     placeholder="Area"
                     ng-model="vm.dbSelectedSupplier.address.area.title"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /dbSelectedSupplier.address.area -->
        </div>
        <!-- /row 3 -->


        <!-- row 4 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedSupplier.address.block -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Block</label>
              <input type="text"
                     class="form-control"
                     placeholder="Block"
                     ng-model="vm.dbSelectedSupplier.address.block.title"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /dbSelectedSupplier.address.block -->

          <!-- dbSelectedSupplier.address.street -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Street / Jaddah</label>
              <input type="text"
                     class="form-control"
                     placeholder="Street / Jaddah"
                     ng-model="vm.dbSelectedSupplier.address.street"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /dbSelectedSupplier.address.street -->
        </div>
        <!-- /row 4 -->


        <!-- row 5 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedSupplier.address.building -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Building / House</label>
              <input type="text"
                     class="form-control"
                     placeholder="Building / House"
                     ng-model="vm.dbSelectedSupplier.address.building"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /dbSelectedSupplier.address.building -->
          <!-- dbSelectedSupplier.address.paciNo -->
          <div class="col-md-6">
            <label>PACI Number</label>
            <input type="text"
                   class="form-control"
                   placeholder="PACI Number"
                   ng-model="vm.dbSelectedSupplier.address.paciNo"
                   ng-disabled="true">
          </div>
          <!-- /dbSelectedSupplier.address.paciNo -->
        </div>
        <!-- /row 5 -->


        <!-- row 5.5 -->
        <div class="row margin-bottom-5">
          <!-- dbSelectedSupplier.address.notes -->
          <div class="col-md-12">
            <div class="form-group">
              <label>Address Notes</label>
              <textarea class="form-control"
                        rows="2"
                        ng-model="vm.dbSelectedSupplier.address.notes"
                        ng-disabled="true"></textarea>
            </div>
          </div>
          <!-- dbSelectedSupplier.address.notes -->
        </div>
        <!-- /row 5.5 -->

      </div>
      <div class="panel-footer text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="vm.deleteDbSelectedSupplier()">
          <i class="fa fa-times"></i> Clear Selection
        </a>
      </div>
    </div>


    <!-- Material Information -->
    <div class="panel panel-default" ng-show="vm.dbSelectedSupplier._id">
      <div class="panel-heading">Material Information</div>
      <div class="panel-body">
        <p ng-hide="vm.purchaseOrder.materialInfo.length">
          No materials added yet,
          <a href="javascript:void(0)" ng-click="vm.addMaterialInfo()">Click here to add one.</a>
        </p>

        <div class="row margin-bottom-15" ng-repeat="_item in vm.purchaseOrder.materialInfo">
          <!-- material -->
          <div class="col-md-2">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['purchaseOrderMaterialInfoMaterialIdRef-' + $index].$invalid }">
              <label data-ng-attr-for="purchaseOrderMaterialInfoMaterialIdRef-{{$index}}">Material</label>
              <select class="form-control"
                      data-ng-attr-id="purchaseOrderMaterialInfoMaterialIdRef-{{$index}}"
                      data-ng-attr-name="purchaseOrderMaterialInfoMaterialIdRef-{{$index}}"
                      ng-model="_item.materialIdRef"
                      ng-required="true"
                      ng-change="vm.supplierMaterialSelected(_item.materialIdRef, $index)">
                <option selected value disabled>- Select a Material -</option>
                <option ng-repeat="(_key1, _val1) in vm.supplierAllowedMaterials"
                        value="{{_key1}}"
                        ng-bind="_val1.material.title">
                </option>
              </select>
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['purchaseOrderMaterialInfoMaterialIdRef-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['purchaseOrderMaterialInfoMaterialIdRef-' + $index].$invalid">
                <div class="message" ng-message="required">Select a material.</div>
              </div>
            </div>
          </div>
          <!-- quantity -->
          <div class="col-md-1">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['purchaseOrderMaterialInfoQuantity-' + $index].$invalid }">
              <label data-ng-attr-for="purchaseOrderMaterialInfoQuantity-{{$index}}" uib-tooltip="Ordered quantity">Quantity</label>
              <input type="number"
                     data-ng-attr-id="purchaseOrderMaterialInfoQuantity-{{$index}}"
                     name="purchaseOrderMaterialInfoQuantity-{{$index}}"
                     class="form-control"
                     ng-model="_item.quantity"
                     ng-required="true"
                     ng-min="1"
                     ng-max="99">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['purchaseOrderMaterialInfoQuantity-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['purchaseOrderMaterialInfoQuantity-' + $index].$invalid">
                <div class="message" ng-message="required">Quantity is required.</div>
                <div class="message" ng-message="number">Invalid number.</div>
                <div class="message" ng-message="min">Quantity must be more than 0.</div>
                <div class="message" ng-message="max">Quantity must be less than 99.</div>
              </div>
            </div>
          </div>
          <!-- cost -->
          <div class="col-md-2">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['purchaseOrderMaterialInfoCost-' + $index].$invalid }">
              <label data-ng-attr-for="purchaseOrderMaterialInfoCost-{{$index}}">Price</label>
              <div class="input-group">
                <input type="text"
                       data-ng-attr-id="purchaseOrderMaterialInfoCost-{{$index}}"
                       data-ng-attr-name="purchaseOrderMaterialInfoCost-{{$index}}"
                       class="form-control"
                       placeholder="Cost"
                       ng-model="_item.cost"
                       ng-required="true"
                       ui-number-mask="3">
                <div class="input-group-addon">KWD</div>
              </div>
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['purchaseOrderMaterialInfoCost-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['purchaseOrderMaterialInfoCost-' + $index].$invalid">
                <div class="message" ng-message="required">Cost is required.</div>
              </div>
            </div>
          </div>
          <!-- additionalCostPerItem -->
          <div class="col-md-2">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['purchaseOrderMaterialInfoAddCost-' + $index].$invalid }">
              <label data-ng-attr-for="purchaseOrderMaterialInfoAddCost-{{$index}}">Add. Cost per Unit</label>
              <div class="input-group">
                <input type="text"
                       data-ng-attr-id="purchaseOrderMaterialInfoAddCost-{{$index}}"
                       data-ng-attr-name="purchaseOrderMaterialInfoAddCost-{{$index}}"
                       class="form-control hide-number-arrows"
                       placeholder="Additional Cost"
                       ng-model="_item.additionalCostPerItem"
                       ng-required="true"
                       ng-min="0"
                       ui-number-mask="3">
                <div class="input-group-addon">KWD</div>
              </div>
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['purchaseOrderMaterialInfoAddCost-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['purchaseOrderMaterialInfoAddCost-' + $index].$invalid">
                <div class="message" ng-message="required">Additional Cost is required.</div>
              </div>
            </div>
          </div>
          <!-- additionalLumpSumCost -->
          <div class="col-md-2">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['purchaseOrderMaterialInfoAddLumpSum-' + $index].$invalid }">
              <label data-ng-attr-for="purchaseOrderMaterialInfoAddLumpSum-{{$index}}">Add. Lump Sum Cost</label>
              <div class="input-group">
                <input type="text"
                       data-ng-attr-id="purchaseOrderMaterialInfoAddLumpSum-{{$index}}"
                       data-ng-attr-name="purchaseOrderMaterialInfoAddLumpSum-{{$index}}"
                       class="form-control hide-number-arrows"
                       placeholder="Cost"
                       ng-model="_item.additionalLumpSumCost"
                       ng-required="true"
                       ui-number-mask="3">
                <div class="input-group-addon">KWD</div>
              </div>
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['purchaseOrderMaterialInfoAddLumpSum-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['purchaseOrderMaterialInfoAddLumpSum-' + $index].$invalid">
                <div class="message" ng-message="required">Additional Lump Sum is required.</div>
              </div>
            </div>
          </div>
          <!-- costTotal -->
          <div class="col-md-2">
            <div class="form-group">
              <label data-ng-attr-for="purchaseOrderMaterialInfoCostTotal-{{$index}}">Total Price</label>
              <div class="input-group">
                <input type="text"
                       data-ng-attr-id="purchaseOrderMaterialInfoCostTotal-{{$index}}"
                       data-ng-attr-name="purchaseOrderMaterialInfoCostTotal-{{$index}}"
                       class="form-control"
                       placeholder="Total Cost"
                       ng-model="_item.costTotal"
                       ui-number-mask="3">
                <div class="input-group-addon">KWD</div>
              </div>
            </div>
          </div>
          <!-- operations -->
          <div class="col-md-1 text-right">
            <div class="margin-bottom-25"></div>
            <a href="javascript:void(0)"
               class="btn btn-danger"
               ng-click="vm.deleteMaterialInfo($index)"
               uib-tooltip="Delete this item">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <!-- /operations -->

        </div>
      </div>
      <div class="panel-footer text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="vm.addMaterialInfo()">
          <i class="fa fa-plus"></i> Add Material
        </a>
      </div>
    </div>


    <!-- Spares Information -->
    <div class="panel panel-default" ng-show="vm.dbSelectedSupplier._id">
      <div class="panel-heading">Spares Information</div>
      <div class="panel-body">
        <div class="row margin-bottom-15" ng-repeat="_item in vm.purchaseOrder.materialReturnedSpares">
          <!-- Material -->
          <div class="col-md-3">
            <div class="form-group">
              <label>Material</label>
              <input type="text"
                     class="form-control"
                     ng-value="vm.cylinderMaterials[_item.materialIdRef].title"
                     ng-disabled="true">
            </div>
          </div>
          <!-- Accounting ID -->
          <div class="col-md-3">
            <div class="form-group">
              <label>Accounting ID</label>
              <input type="text"
                     class="form-control"
                     ng-value="vm.cylinderMaterials[_item.materialIdRef].accountingId"
                     ng-disabled="true">
            </div>
          </div>
          <!-- Expected Returned Cylinder Spares -->
          <div class="col-md-3">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['purchaseOrderMaterialInfoExpRetSpr-' + $index].$invalid }">
              <label data-ng-attr-for="purchaseOrderMaterialInfoExpRetSpr-{{$index}}">Expected Returned Cylinder
                Spares</label>
              <input type="number"
                     data-ng-attr-id="purchaseOrderMaterialInfoExpRetSpr-{{$index}}"
                     data-ng-attr-name="purchaseOrderMaterialInfoExpRetSpr-{{$index}}"
                     class="form-control"
                     placeholder="Expected Returned Cylinder Spares"
                     ng-model="_item.returnedSpares"
                     ng-disabled="true"
                     ng-min="0">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['purchaseOrderMaterialInfoExpRetSpr-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['purchaseOrderMaterialInfoExpRetSpr-' + $index].$invalid">
                <div class="message" ng-message="number">Invalid number.</div>
                <div class="message" ng-message="min">Expected returned spares can not be a negative number.</div>
              </div>
            </div>
          </div>
          <!-- Actual Returned Cylinder Spares -->
          <div class="col-md-3">
            <div class="form-group"
                 ng-class="{ 'has-error': vm.formSubmitted && vm.form['purchaseOrderMaterialInfoExpRetSprActual-' + $index].$invalid }">
              <label data-ng-attr-for="purchaseOrderMaterialInfoExpRetSprActual-{{$index}}">Actual Returned Cylinder
                Spares</label>
              <input type="number"
                     data-ng-attr-id="purchaseOrderMaterialInfoExpRetSprActual-{{$index}}"
                     data-ng-attr-name="purchaseOrderMaterialInfoExpRetSprActual-{{$index}}"
                     class="form-control"
                     ng-model="_item.returnedSparesActual"
                     ng-min="0">
              <div class="ng-messages-wrap"
                   ng-messages="vm.form['purchaseOrderMaterialInfoExpRetSprActual-' + $index].$error"
                   ng-show="vm.formSubmitted && vm.form['purchaseOrderMaterialInfoExpRetSprActual-' + $index].$invalid">
                <div class="message" ng-message="number">Invalid number.</div>
                <div class="message" ng-message="min">Can not be a negative number.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Spares Information -->


    <!-- Spares Information -->
    <!--<div class="panel panel-default" ng-show="vm.dbSelectedSupplier._id">-->
      <!--<div class="panel-heading">Spares Information</div>-->
      <!--<div class="panel-body">-->
        <!--<div class="row margin-bottom-15"-->
             <!--ng-repeat="_item in vm.purchaseOrder.materialInfo"-->
             <!--ng-if="vm.supplierAllowedMaterials[_item.materialIdRef].material.materialType==='cylinder'">-->
          <!--&lt;!&ndash; Material &ndash;&gt;-->
          <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
              <!--<label>Material</label>-->
              <!--<input type="text"-->
                     <!--class="form-control"-->
                     <!--ng-value="vm.supplierAllowedMaterials[_item.materialIdRef].material.title"-->
                     <!--ng-disabled="true">-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; Accounting ID &ndash;&gt;-->
          <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
              <!--<label>Accounting ID</label>-->
              <!--<input type="text"-->
                     <!--class="form-control"-->
                     <!--ng-value="vm.supplierAllowedMaterials[_item.materialIdRef].material.accountingId"-->
                     <!--ng-disabled="true">-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; Expected Delivered Spares &ndash;&gt;-->
          <!--<div class="col-md-3">-->
            <!--<div class="form-group"-->
                 <!--ng-class="{ 'has-error': vm.formSubmitted && vm.form['purchaseOrderMaterialInfoExpRetSpr-' + $index].$invalid }">-->
              <!--<label data-ng-attr-for="purchaseOrderMaterialInfoExpRetSpr-{{$index}}">Expected Delivered Spares</label>-->
              <!--<input type="number"-->
                     <!--data-ng-attr-id="purchaseOrderMaterialInfoExpRetSpr-{{$index}}"-->
                     <!--data-ng-attr-name="purchaseOrderMaterialInfoExpRetSpr-{{$index}}"-->
                     <!--class="form-control"-->
                     <!--placeholder="Expected Delivered Spares"-->
                     <!--ng-model="_item.returnedSpares"-->
                     <!--ng-disabled="true"-->
                     <!--ng-min="0">-->
              <!--<div class="ng-messages-wrap"-->
                   <!--ng-messages="vm.form['purchaseOrderMaterialInfoExpRetSpr-' + $index].$error"-->
                   <!--ng-show="vm.formSubmitted && vm.form['purchaseOrderMaterialInfoExpRetSpr-' + $index].$invalid">-->
                <!--<div class="message" ng-message="number">Invalid number.</div>-->
                <!--<div class="message" ng-message="min">Expected delivered spares can not be a negative number.</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; Actual Returned Cylinder Spares &ndash;&gt;-->
          <!--<div class="col-md-3">-->
            <!--<div class="form-group"-->
                 <!--ng-class="{ 'has-error': vm.formSubmitted && vm.form['purchaseOrderMaterialInfoExpRetSprActual-' + $index].$invalid }">-->
              <!--<label data-ng-attr-for="purchaseOrderMaterialInfoExpRetSprActual-{{$index}}">Actual Returned Cylinder Spares</label>-->
              <!--<input type="number"-->
                     <!--data-ng-attr-id="purchaseOrderMaterialInfoExpRetSprActual-{{$index}}"-->
                     <!--data-ng-attr-name="purchaseOrderMaterialInfoExpRetSprActual-{{$index}}"-->
                     <!--class="form-control"-->
                     <!--ng-model="_item.returnedSparesActual"-->
                     <!--ng-min="0">-->
              <!--<div class="ng-messages-wrap"-->
                   <!--ng-messages="vm.form['purchaseOrderMaterialInfoExpRetSprActual-' + $index].$error"-->
                   <!--ng-show="vm.formSubmitted && vm.form['purchaseOrderMaterialInfoExpRetSprActual-' + $index].$invalid">-->
                <!--<div class="message" ng-message="number">Invalid number.</div>-->
                <!--<div class="message" ng-message="min">Can not be a negative number.</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <div class="row">
      <div class="col-md-12">
        <div class="form-actions">
          <button class="btn btn-success" ng-click="vm.save()">Save</button>
          <a ui-sref="adminpurchaseOrderDashboardDrag" class="btn btn-link">Cancel</a>
        </div>
      </div>
    </div>

  </form>

</div>
