<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 ng-bind="vm.pageTitle"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <a ui-sref="adminUserAdd" class="btn btn-default">
          <i class="fa fa-plus"></i> Add new user
        </a>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <!--<th></th>-->
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone 1</th>
            <th>Role</th>
            <th>User Type</th>
            <th>Status</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="_user in vm.users">
            <!--<td>-->
              <!--<input type="checkbox" ng-model="vm.selectedSupplierIds[_supplier._id]">-->
            <!--</td>-->
            <td ng-bind="_user.name"></td>
            <td ng-bind="_user.username"></td>
            <td ng-bind="_user.email"></td>
            <td ng-bind="_user.phoneNumber1"></td>
            <td ng-bind="_user.role"></td>
            <td ng-bind="_user.userType"></td>
            <td ng-bind="_user.status ? 'Active' : 'Blocked'"></td>
            <td>
              <a ui-sref="adminUserEdit({ userId: _user._id })"
                 class="btn btn-primary"
                 uib-tooltip="Update user profile">
                <i class="fa fa-pencil"></i>
              </a>
              <a ui-sref="adminChangeUserPassword({ userId: _user._id })"
                 class="btn btn-warning"
                 uib-tooltip="Change user password">
                <i class="fa fa-key"></i>
              </a>
              <a href="javascript:void(0)"
                 class="btn btn-danger"
                 ng-click="vm.deleteUser(_user._id)"
                 ng-disabled="_user.role==='admin'"
                 uib-tooltip="Delete user">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>
