<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="margin-bottom-20" ng-bind="vm.pageTitle"></h1>
    </div>
  </div>


  <form name="vm.form" novalidate>

    <div class="panel panel-default">
      <div class="panel-heading">Storage Information</div>
      <div class="panel-body">
        <!-- row 0 -->
        <div class="row margin-bottom-5">
          <div class="col-md-12">
            <h4 class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.storage.status">
                Status:
                <span ng-show="vm.storage.status">Active</span>
                <span ng-hide="vm.storage.status">Blocked</span>
              </label>
            </h4>
            <label for="storageBlockingReason" ng-hide="vm.storage.status">Blocking Reason</label>
            <textarea rows="3"
                      id="storageBlockingReason"
                      class="form-control margin-bottom-25"
                      placeholder="Blocking reason"
                      ng-model="vm.storage.blockingReason"
                      ng-hide="vm.storage.status"></textarea>
          </div>
        </div>
        <!-- /row 0 -->

        <!-- row 0.5 -->
        <div class="row margin-bottom-10">
          <!-- storageId -->
          <div class="col-md-6" ng-show="vm.storage._id">
            <div class="form-group">
              <label for="storageStorageId">Storage ID</label>
              <input type="text"
                     id="storageStorageId"
                     class="form-control"
                     placeholder="Storage ID"
                     ng-model="vm.storage.storageId"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /storageId -->
          <!-- isAvailable -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storageIsAvailable">State</label>
              <select class="form-control"
                      name="storageIsAvailable"
                      id="storageIsAvailable"
                      ng-model="vm.storage.isAvailable"
                      ng-options="(item?'Available':'Not Available') for item in [true, false]"
                      ng-required="true"></select>
            </div>
          </div>
          <!-- /isAvailable -->
        </div>
        <!-- /row 0.5 -->

        <!-- row 1 -->
        <div class="row margin-bottom-10">
          <!-- title -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storageTitle">Title</label>
              <input type="text"
                     id="storageTitle"
                     class="form-control"
                     placeholder="Title"
                     ng-model="vm.storage.title"
                     ng-required="true">
            </div>
          </div>
          <!-- /title -->
          <!-- storageType -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storageStorageType">Storage Type</label>
              <select class="form-control" id="storageStorageType" ng-model="vm.storage.storageType._id">
                <option disabled selected value ng-if="!vm.storage.storageType">- Select Storage Type -</option>
                <option ng-repeat="_item in vm.dbStorageTypes" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /storageType -->
        </div>
        <!-- /row 1 -->

        <!-- row 2 -->
        <div class="row margin-bottom-10">
          <!-- plateNumber -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storagePlateNumber">Plate Number</label>
              <input type="text"
                     id="storagePlateNumber"
                     class="form-control"
                     placeholder="Plate No."
                     ng-model="vm.storage.plateNumber"
                     ng-required="true">
            </div>
          </div>
          <!-- /plateNumber -->
          <!-- registrationBookExpiration -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storageRegistrationBookExpiration">Vehicle Register Expiration Date</label>
              <div class="input-group">
                <input type="text"
                       id="storageRegistrationBookExpiration"
                       class="form-control"
                       placeholder="Vehicle Register Expiration Date"
                       ng-model="vm.storage.registrationBookExpiration"
                       ng-focus="vm.registrationBookExpirationDatePopupOpened=true"
                       uib-datepicker-popup="{{vm.dateFormat}}"
                       data-is-open="vm.registrationBookExpirationDatePopupOpened"
                       data-datepicker-options="vm.datePopupOptions"
                       data-close-text="Close"/>
                <span class="input-group-btn">
                  <button type="button"
                          class="btn btn-default"
                          ng-click="vm.registrationBookExpirationDatePopupOpened=true">
                            <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <!-- /registrationBookExpiration -->
        </div>
        <!-- /row 2 -->


        <!-- row 3 -->
        <div class="row" ng-show="vm.storage._id">
          <!-- currentLeader -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="latestAssignedLeader">Latest Assigned Leader</label>
              <input type="text"
                     id="latestAssignedLeader"
                     class="form-control"
                     ng-model="vm.storage.assignmentHistory[0].leader.name"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /currentLeader -->
          <!-- currentDispatcher -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="latestAssignedDispatcher">Latest Assigned Dispatcher</label>
              <input type="text"
                     id="latestAssignedDispatcher"
                     class="form-control"
                     ng-model="vm.storage.assignmentHistory[0].dispatcher.name"
                     ng-disabled="true">
            </div>
          </div>
          <!-- /currentDispatcher -->
        </div>
        <!-- /row 3 -->
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Address</div>
      <div class="panel-body">
        <!-- row 1 -->
        <div class="row margin-bottom-10">
          <!-- address.governorate -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storageAddressGovernorate">Governorate</label>
              <select class="form-control"
                      id="storageAddressGovernorate"
                      ng-model="vm.storage.address.governorate"
                      ng-change="vm.updateAddressAreas(vm.storage.address.governorate)"
                      ng-required="false">
                <option disabled selected value>- Select a Governorate -</option>
                <option ng-repeat="_item in vm.addressGovernorates" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /address.governorate -->

          <!-- address.area -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storageAddressArea">Area</label>
              <select class="form-control"
                      id="storageAddressArea"
                      ng-model="vm.storage.address.area"
                      ng-change="vm.updateAddressBlocks(vm.storage.address.area)"
                      ng-required="false"
                      ng-disabled="!vm.storage.address.governorate">
                <option disabled selected value>- Select an Area -</option>
                <option ng-repeat="_item in vm.addressAreas" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /address.area -->
        </div>
        <!-- /row 1 -->

        <!-- row 2 -->
        <div class="row margin-bottom-10">
          <!-- address.block -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storageAddressBlock">Block</label>
              <select class="form-control"
                      id="storageAddressBlock"
                      ng-model="vm.storage.address.block"
                      ng-required="false"
                      ng-disabled="!vm.storage.address.area">
                <option disabled selected value>- Select a Block -</option>
                <option ng-repeat="_item in vm.addressBlocks" value="{{_item._id}}" ng-bind="_item.title"></option>
              </select>
            </div>
          </div>
          <!-- /address.block -->

          <!-- address.street -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storageAddressStreet">Street / Jaddah</label>
              <input type="text"
                     id="storageAddressStreet"
                     class="form-control"
                     placeholder="Street / Jaddah"
                     ng-model="vm.storage.address.street">
            </div>
          </div>
          <!-- /address.street -->
        </div>
        <!-- /row 2 -->

        <!-- row 3 -->
        <div class="row margin-bottom-10">
          <!-- address.building -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storageAddressBuilding">Building / House</label>
              <input type="text"
                     id="storageAddressBuilding"
                     class="form-control"
                     placeholder="Building / House"
                     ng-model="vm.storage.address.building">
            </div>
          </div>
          <!-- /address.building -->
          <!-- address.paciNo -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="storageAddressPaciNo">PACI Number</label>
              <input type="text"
                     id="storageAddressPaciNo"
                     class="form-control"
                     placeholder="PACI Number"
                     ng-model="vm.storage.address.paciNo">
            </div>
          </div>
          <!-- /address.paciNo -->
        </div>
        <!-- /row 3 -->

        <!-- row 3.5 -->
        <div class="row margin-bottom-10">
          <div class="col-md-12">
            <div class="form-group">
              <label for="storageAddressNotes">Notes</label>
              <textarea class="form-control"
                        id="storageAddressNotes"
                        rows="2"
                        ng-model="vm.storage.address.notes"></textarea>
            </div>
          </div>
        </div>
        <!-- /row 3.5 -->

        <!-- row 4 -->
        <div class="row">
          <div class="col-md-2">
            <!-- latitude on map -->
            <div class="form-group">
              <label for="mapNonEditableLat">Latitude on Map</label>
              <input type="text"
                     class="form-control"
                     id="mapNonEditableLat"
                     name="mapNonEditableLat"
                     ng-model="vm.mapSelectedLatLng.latitude"
                     ng-disabled="true">
            </div>
            <!-- longitude on map -->
            <div class="form-group">
              <label for="mapNonEditableLng">Longitude on Map</label>
              <input type="text"
                     class="form-control"
                     id="mapNonEditableLng"
                     name="mapNonEditableLng"
                     ng-model="vm.mapSelectedLatLng.longitude"
                     ng-disabled="true">
            </div>
            <hr>
            <!-- chosen latitude -->
            <div class="form-group">
              <label for="customerCurrentLat">Chosen Latitude</label>
              <input type="text"
                     class="form-control"
                     id="customerCurrentLat"
                     name="customerCurrentLat"
                     ng-model="vm.storage.address.googleMap.latitude"
                     ng-disabled="true">
            </div>
            <!-- chosen longitude -->
            <div class="form-group">
              <label for="customerCurrentLat">Chosen Longitude</label>
              <input type="text"
                     class="form-control"
                     id="customerCurrentLng"
                     name="customerCurrentLng"
                     ng-model="vm.storage.address.googleMap.longitude"
                     ng-disabled="true">
            </div>
            <hr>
            <!-- actions -->
            <button class="btn btn-sm btn-primary" ng-click="vm.googleMapCapture()">Capture Coordinates</button>
            <button class="btn btn-sm btn-link" ng-click="vm.googleMapClear()">Clear</button>
          </div>
          <div class="col-md-10">
            <ui-gmap-google-map center="vm.mapSelectedLatLng" zoom="8" options="vm.mapOptions">
              <ui-gmap-marker coords="vm.mapMarker.coords"
                              options="vm.mapMarker.options"
                              events="vm.mapMarker.events"
                              idkey="vm.mapMarker.id">
              </ui-gmap-marker>
              <ui-gmap-search-box template="vm.mapSearchBox.template"
                                  events="vm.mapSearchBox.events"
                                  options="vm.mapSearchBox.options"
                                  position="vm.mapSearchBox.position"></ui-gmap-search-box>
            </ui-gmap-google-map>
          </div>
        </div>
        <!-- /row 4 -->
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        Assignment History
      </div>
      <div class="panel-body">
        <p ng-hide="vm.storage.assignmentHistory.length">
          No assignment history added yet,
          <a href="javascript:void(0)" ng-click="vm.addAssignmentHistory()">Click here to add one.</a>
        </p>
        <div class="row margin-bottom-20" ng-repeat="_item in vm.storage.assignmentHistory">
          <div class="col-md-12">
            <!-- row 1 -->
            <div class="row margin-bottom-15">
              <!-- assignmentHistory.leader -->
              <div class="col-md-3">
                <div class="margin-bottom-10"></div>
                <div class="form-group">
                  <label data-ng-attr-for="storageAH-leader-{{$index}}">Leader</label>
                  <select class="form-control"
                          data-ng-attr-id="storageAH-leader-{{$index}}"
                          ng-model="_item.leader._id">
                    <option disabled selected value ng-if="!_item.leader">- Select Leader -</option>
                    <option ng-repeat="_item in vm.dbUsers.leader" value="{{_item._id}}" ng-bind="_item.name"></option>
                  </select>
                </div>
              </div>
              <!-- /assignmentHistory.leader -->
              <!-- assignmentHistory.dispatcher -->
              <div class="col-md-3">
                <div class="margin-bottom-10"></div>
                <div class="form-group">
                  <label data-ng-attr-for="storageAH-leader-{{$index}}">Dispatcher</label>
                  <select class="form-control"
                          data-ng-attr-id="storageAH-leader-{{$index}}"
                          ng-model="_item.dispatcher._id">
                    <option disabled selected value ng-if="!_item.dispatcher">- Select Dispatcher -</option>
                    <option ng-repeat="_item in vm.dbUsers.dispatcher" value="{{_item._id}}" ng-bind="_item.name"></option>
                  </select>
                </div>
              </div>
              <!-- /assignmentHistory.dispatcher -->
              <!-- assignmentHistory.fromDate -->
              <div class="col-md-2">
                <div class="margin-bottom-10"></div>
                <label data-ng-attr-for="storageAH-fromDate-{{$index}}">From</label>
                <div class="input-group">
                  <input type="text"
                         data-ng-attr-id="storageAH-fromDate-{{$index}}"
                         class="form-control"
                         placeholder="From Date"
                         ng-model="_item.fromDate"
                         ng-focus="vm.AHFromDate[$index]=true"
                         uib-datepicker-popup="{{vm.dateFormat}}"
                         data-is-open="vm.AHFromDate[$index]"
                         data-datepicker-options="vm.datePopupOptions"
                         data-close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button"
                            class="btn btn-default"
                            ng-click="vm.AHFromDate[$index]=true">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
              <!-- /assignmentHistory.fromDate -->
              <!-- assignmentHistory.formTime -->
              <div class="col-md-2">
                <!--<div class="margin-bottom-25"></div>-->
                <div uib-timepicker
                     ng-model="_item.fromTime"
                     data-hour-step="vm.timePickerHourStep"
                     data-minute-step="vm.timePickerMinuteStep"
                     data-show-meridian="vm.timePickerShowMeridian"></div>
              </div>
              <!-- /assignmentHistory.formTime -->
              <!-- operations -->
              <div class="col-md-2 text-right">
                <div class="margin-bottom-33"></div>
                <a href="javascript:void(0)"
                   class="btn btn-danger"
                   uib-tooltip="Delete this item"
                   ng-click="vm.deleteAssignmentHistory($index)">
                  <i class="fa fa-trash"></i>
                </a>
              </div>
              <!-- /operations -->

              <!-- assignmentHistory.toDate -->
              <!--<div class="col-md-3">-->
                <!--<div class="margin-bottom-33"></div>-->
                <!--<label data-ng-attr-for="storageAH-toDate-{{$index}}">To</label>-->
                <!--<div class="input-group">-->
                  <!--<input type="text"-->
                         <!--data-ng-attr-id="storageAH-toDate-{{$index}}"-->
                         <!--class="form-control"-->
                         <!--placeholder="To Date"-->
                         <!--ng-model="_item.toDate"-->
                         <!--ng-focus="vm.AHToDate[$index]=true"-->
                         <!--uib-datepicker-popup="{{vm.dateFormat}}"-->
                         <!--data-is-open="vm.AHToDate[$index]"-->
                         <!--data-datepicker-options="vm.datePopupOptions"-->
                         <!--data-close-text="Close"/>-->
                  <!--<span class="input-group-btn">-->
                    <!--<button type="button"-->
                            <!--class="btn btn-default"-->
                            <!--ng-click="vm.AHToDate[$index]=true">-->
                      <!--<i class="fa fa-calendar"></i>-->
                    <!--</button>-->
                  <!--</span>-->
                <!--</div>-->
              <!--</div>-->
              <!-- /assignmentHistory.toDate -->
              <!-- assignmentHistory.toTime -->
              <!--<div class="col-md-2">-->
                <!--<div class="margin-bottom-25"></div>-->
                <!--<div uib-timepicker-->
                     <!--ng-model="_item.toTime"-->
                     <!--data-hour-step="vm.timePickerHourStep"-->
                     <!--data-minute-step="vm.timePickerMinuteStep"-->
                     <!--data-show-meridian="vm.timePickerShowMeridian"></div>-->
              <!--</div>-->
              <!-- /assignmentHistory.toTime -->
            </div>
            <!-- /row 1 -->
            <hr>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="vm.addAssignmentHistory()">
          <i class="fa fa-plus"></i> Add Assignment History
        </a>
      </div>
    </div>


    <div class="row form-actions">
      <div class="col-md-12">
        <button type="button" class="btn btn-success" ng-click="vm.save(false)">Save</button>
        <a href="javascript:void(0)" class="btn btn-success" ng-click="vm.save(true)" ng-hide="vm.storage._id">Save and add another</a>
        <a href="javascript:void(0)" class="btn btn-link" ng-click="vm.formClear()" ng-hide="vm.storage._id">Clear</a>
        <a ui-sref="adminStorageList" class="btn btn-link">Cancel</a>
      </div>
    </div>

  </form>

</div>
